# Nota técnica - 2021

In [97]:
import numpy as np
import pandas as pd
import math

In [98]:
df_2021 = pd.read_csv('pre-process_2021.csv')

In [100]:
df_2021 = df_2021[df_2021["Codigo_do_Curso"] != 87330]
codigoCursosArray = df_2021["Codigo_do_Curso"].unique()
print(len(codigoCursosArray))

codigo_dos_cursos = codigoCursosArray.tolist()

1649

In [103]:
sum(df_2021["Codigo_do_Curso"] == 87330)

0

In [104]:
df_media_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1
cursos_invalidos = []

    
for codigo in codigo_dos_cursos:
    subconjunto_do_codigo = df_2021.loc[df_2021['Codigo_do_Curso'] == codigo]
    subconjunto_do_codigo = subconjunto_do_codigo.reset_index(drop=True)
    
    medias_curso = []
    
    numero_participantes = 0
    numero_inscritos = 0
    soma_FG = 0
    soma_CE = 0
    
    for index, linha in subconjunto_do_codigo.iterrows():
        numero_inscritos += 1
        if subconjunto_do_codigo.at[index,"Tipo_Presenca"] == 555:
            numero_participantes += 1
            soma_FG += subconjunto_do_codigo.at[index,"Nota_FG"]
            soma_CE += subconjunto_do_codigo.at[index,"Nota_CE"]
            
    if numero_participantes <= 1:
        cursos_invalidos.append(codigo)
        continue
    
    media_FG = soma_FG / numero_participantes
    media_CE = soma_CE / numero_participantes
        
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    medias_curso.append(codigo)
    
    area =  subconjunto_do_codigo._get_value(0, "Curso")
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    medias_curso.append(area)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Inscritos')
    medias_curso.append(numero_inscritos)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Participantes')
    medias_curso.append(numero_participantes)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_FG')
    medias_curso.append(media_FG)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_CE')
    medias_curso.append(media_CE)
    
    df_media_cursos.append(medias_curso)
    definir_colunas = 0

df_medias = pd.DataFrame(df_media_cursos)

df_medias.columns =[nome_das_novas_colunas]

O cálculo das médias parece estar certo

In [105]:
df_medias

,Codigo_do_Curso,Curso,Numero_Inscritos,Numero_Participantes,Media_FG,Media_CE
0,36,BCC,41,36,38.841667,39.980556
1,127,BCC,112,85,45.089412,50.215294
2,317,BCC,99,82,39.869512,42.664634
3,513,BCC,57,45,43.997778,45.520000
4,594,BCC,47,43,44.551163,45.600000
...,...,...,...,...,...,...
1500,5001296,RC,10,8,27.525000,27.787500
1501,5001383,ADS,15,11,33.881818,42.527273
1502,5001409,ADS,8,8,35.250000,32.912500
1503,5001434,GTI,25,22,38.304545,51.786364
1504,5001459,ADS,35,34,30.861765,30.750000

In [106]:
areas_array = df_2021["Curso"].unique()

areas_lista = areas_array.tolist()

In [107]:
df_media_nacional_areas = []
nome_das_novas_colunas = []
definir_colunas = 1
    
for area in areas_lista:
    selecao_area = df_medias["Curso"] == area
    df_para_series = selecao_area.iloc[:,0]

    df_medias_area = df_medias.loc[df_para_series]
    df_medias_area = df_medias_area.reset_index(drop=True)
    
    numero_ocorrencias_area = len(df_medias_area)
        
    medias_nacionais_area = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    medias_nacionais_area.append(area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Media_Nacional_FG')
        
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_FG"][0]):
            somatorio += df_medias_area.loc[index,"Media_FG"][0]
    
    media_nacional_FG_area = somatorio / numero_ocorrencias_area
            
    medias_nacionais_area.append(media_nacional_FG_area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Media_Nacional_CE')
            
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_CE"][0]):
            somatorio += df_medias_area.loc[index,"Media_CE"][0]
    
    media_nacional_CE_area = somatorio / numero_ocorrencias_area
    
    medias_nacionais_area.append(media_nacional_CE_area)
    
    df_media_nacional_areas.append(medias_nacionais_area)
    definir_colunas = 0

df_media_nacional = pd.DataFrame(df_media_nacional_areas)

df_media_nacional.columns =[nome_das_novas_colunas]

In [108]:
df_media_nacional

  Curso Media_Nacional_FG Media_Nacional_CE
0   BCC         36.835868         35.027035
1    SI         34.228997         39.092470
2   GTI         30.176452         38.465078
3   ADS         32.740272         30.357733
4   LCC         33.337044         30.800819
5    RC         28.775563         28.300871

In [109]:
desvios_padrao_areas = []
nome_das_novas_colunas = []
definir_colunas = 1
    
for area in areas_lista:
    selecao_area = df_medias["Curso"] == area
    df_para_series = selecao_area.iloc[:,0]

    df_medias_area = df_medias.loc[df_para_series]
    df_medias_area = df_medias_area.reset_index(drop=True)
    
    numero_ocorrencias_area = len(df_medias_area)
        
    desvios_area = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    desvios_area.append(area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Desvio_Padrao_FG')
        
    media_nacional_area_FG = ""
    
    for index, linha in df_media_nacional.iterrows():
        if df_medias_area.loc[index,"Curso"][0] == df_media_nacional.loc[index,"Curso"][0]:
            media_nacional_area_FG = df_media_nacional.loc[index,"Media_Nacional_FG"][0]
            break
        
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_FG"][0]):
            somatorio += pow((df_medias_area.loc[index,"Media_FG"][0] - media_nacional_area_FG), 2)
    
    desvio_padrao_FG = math.sqrt(somatorio / (numero_ocorrencias_area - 1))
            
    desvios_area.append(desvio_padrao_FG)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Desvio_Padrao_CE')
        
    media_nacional_area_CE = ""
    
    for index, linha in df_media_nacional.iterrows():
        if df_medias_area.loc[index,"Curso"][0] == df_media_nacional.loc[index,"Curso"][0]:
            media_nacional_area_CE = df_media_nacional.loc[index,"Media_Nacional_CE"][0]
            break
            
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_CE"][0]):
            somatorio += pow((df_medias_area.loc[index,"Media_CE"][0] - media_nacional_area_CE), 2)
    
    desvio_padrao_CE = math.sqrt(somatorio / (numero_ocorrencias_area - 1))
    
    desvios_area.append(desvio_padrao_CE)
    
    desvios_padrao_areas.append(desvios_area)
    definir_colunas = 0

df_desvios_padrao = pd.DataFrame(desvios_padrao_areas)

df_desvios_padrao.columns =[nome_das_novas_colunas]

In [110]:
df_desvios_padrao

  Curso Desvio_Padrao_FG Desvio_Padrao_CE
0   BCC         6.510688         8.670723
1    SI         6.412463         5.369568
2   GTI         6.315235         7.416921
3   ADS         5.503910         6.570209
4   LCC         5.757064         5.835144
5    RC         7.081186         6.996520

In [111]:
afastamento_padronizado_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1

    
for index, linha in df_medias.iterrows():
    
    afastamentos_curso = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    afastamentos_curso.append(df_medias.loc[index, "Codigo_do_Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    afastamentos_curso.append(df_medias.loc[index, "Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Inscritos')
    afastamentos_curso.append(df_medias.loc[index, "Numero_Inscritos"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Participantes')
    afastamentos_curso.append(df_medias.loc[index, "Numero_Participantes"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Afastamento_Padronizado_FG')
        
    media_nacional_area_FG = 0
    
    for i_mn, l_mn in df_media_nacional.iterrows():
        if df_medias.loc[i_mn,"Curso"][0] == df_media_nacional.loc[i_mn,"Curso"][0]:
            media_nacional_area_FG = df_media_nacional.loc[i_mn,"Media_Nacional_FG"][0]
            break
        
    desvio_padrao_area_FG = 0
    
    for i_dp, l_dp in df_desvios_padrao.iterrows():
        if df_desvios_padrao.loc[i_dp,"Curso"][0] == df_medias.loc[i_dp,"Curso"][0]:
            desvio_padrao_area_FG = df_desvios_padrao.loc[i_dp,"Desvio_Padrao_FG"][0]
            break
    
    afastamento_padronizado_FG = (df_medias.loc[index,"Media_FG"][0] - media_nacional_area_FG) / desvio_padrao_area_FG
    afastamentos_curso.append(afastamento_padronizado_FG)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Afastamento_Padronizado_CE')
        
    media_nacional_area_CE = 0
    
    for i_mn, l_mn in df_media_nacional.iterrows():
        if df_medias.loc[i_mn,"Curso"][0] == df_media_nacional.loc[i_mn,"Curso"][0]:
            media_nacional_area_CE = df_media_nacional.loc[i_mn,"Media_Nacional_CE"][0]
            break
        
    desvio_padrao_area_CE = 0
    
    for i_dp, l_dp in df_desvios_padrao.iterrows():
        if df_desvios_padrao.loc[i_dp,"Curso"][0] == df_medias.loc[i_dp,"Curso"][0]:
            desvio_padrao_area_CE = df_desvios_padrao.loc[i_dp,"Desvio_Padrao_CE"][0]
            break
            
    afastamento_padronizado_CE = (df_medias.loc[index,"Media_CE"][0] - media_nacional_area_CE) / desvio_padrao_area_CE
    afastamentos_curso.append(afastamento_padronizado_CE)
    
    afastamento_padronizado_cursos.append(afastamentos_curso)
    definir_colunas = 0
    
df_afastamento_padronizado = pd.DataFrame(afastamento_padronizado_cursos)

df_afastamento_padronizado.columns =[nome_das_novas_colunas]

In [112]:
df_afastamento_padronizado

,Codigo_do_Curso,Curso,Numero_Inscritos,Numero_Participantes,Afastamento_Padronizado_FG,Afastamento_Padronizado_CE
0,36,BCC,41,36,0.308078,0.571293
1,127,BCC,112,85,1.267692,1.751672
2,317,BCC,99,82,0.465948,0.880849
3,513,BCC,57,45,1.100024,1.210160
4,594,BCC,47,43,1.185020,1.219387
...,...,...,...,...,...,...
1500,5001296,RC,10,8,-1.430090,-0.834940
1501,5001383,ADS,15,11,-0.453723,0.865007
1502,5001409,ADS,8,8,-0.243579,-0.243871
1503,5001434,GTI,25,22,0.225579,1.932864
1504,5001459,ADS,35,34,-0.917584,-0.493273

In [113]:
conceito_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1
        
    
for index, linha in df_afastamento_padronizado.iterrows():
    
    conceitos_curso = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Codigo_do_Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Inscritos')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Numero_Inscritos"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Participantes')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Numero_Participantes"][0])
    
    selecao_area = df_afastamento_padronizado["Curso"] == df_afastamento_padronizado.loc[index,"Curso"][0]
    df_para_series = selecao_area.iloc[:,0]

    subconjunto_area = df_afastamento_padronizado.loc[df_para_series]
    subconjunto_area = subconjunto_area.reset_index(drop=True)
    
    lista_outliers_ap_FG = []
    lista_outliers_ap_CE = []
    
    for i_sa, l_sa in subconjunto_area.iterrows():
        if (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_FG"][0] < -3) or (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_FG"][0] > 3):
            lista_outliers_ap_FG.append(i_sa)
        elif (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_CE"][0] < -3) or (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_CE"][0] > 3):
            lista_outliers_ap_CE.append(i_sa)
    
    subconjunto_valido_FG = subconjunto_area.drop(lista_outliers_ap_FG)
    ap_FG_min = subconjunto_valido_FG["Afastamento_Padronizado_FG"].min()[0]
    ap_FG_max = subconjunto_valido_FG["Afastamento_Padronizado_FG"].max()[0]
    
    subconjunto_valido_CE = subconjunto_area.drop(lista_outliers_ap_CE)
    ap_CE_min = subconjunto_valido_CE["Afastamento_Padronizado_CE"].min()[0]
    ap_CE_max = subconjunto_valido_CE["Afastamento_Padronizado_CE"].max()[0]
    
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Padronizada_FG')
        
    nota_padronizada_FG = 0
        
    if df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] < -3:
        nota_padronizada_FG = 0
        conceitos_curso.append(nota_padronizada_FG)
    elif df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] > 3:
        nota_padronizada_FG = 5
        conceitos_curso.append(nota_padronizada_FG)
    else:
        nota_padronizada_FG = ((df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] - ap_FG_min) / (ap_FG_max - ap_FG_min)) * 5
        conceitos_curso.append(nota_padronizada_FG)
            
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Padronizada_CE')
        
    nota_padronizada_CE = 0
        
    if df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] < -3:
        nota_padronizada_CE = 0
        conceitos_curso.append(nota_padronizada_CE)
    elif df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] > 3:
        nota_padronizada_CE = 5
        conceitos_curso.append(nota_padronizada_CE)
    else:
        nota_padronizada_CE = ((df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] - ap_CE_min) / (ap_CE_max - ap_CE_min)) * 5
        conceitos_curso.append(nota_padronizada_CE)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Conceito_Contínuo')
            
    nota_conceito_continuo = nota_padronizada_FG*0.25 + nota_padronizada_CE*0.75
    conceitos_curso.append(nota_conceito_continuo)
    
    nota_conceito_faixa = 0
    
    if nota_conceito_continuo >= 0 and nota_conceito_continuo < 0.945 :
        nota_conceito_faixa = 1
    elif nota_conceito_continuo >= 0.945 and nota_conceito_continuo < 1.945:
        nota_conceito_faixa = 2
    elif nota_conceito_continuo >= 1.945 and nota_conceito_continuo < 2.945:
        nota_conceito_faixa = 3
    elif nota_conceito_continuo >= 2.945 and nota_conceito_continuo < 3.945:
        nota_conceito_faixa = 4
    elif nota_conceito_continuo >= 3.945 and nota_conceito_continuo <= 5 :
        nota_conceito_faixa = 5
    
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Conceito_Faixa')
    conceitos_curso.append(nota_conceito_faixa)
    
    conceito_cursos.append(conceitos_curso)
    definir_colunas = 0
    
df_conceito = pd.DataFrame(conceito_cursos)

df_conceito.columns =[nome_das_novas_colunas]

In [114]:
df_conceito

,Codigo_do_Curso,Curso,Numero_Inscritos,Numero_Participantes,Nota_Padronizada_FG,Nota_Padronizada_CE,Nota_Conceito_Contínuo,Nota_Conceito_Faixa
0,36,BCC,41,36,2.735423,2.681773,2.695185,3
1,127,BCC,112,85,3.637679,3.876141,3.816525,4
2,317,BCC,99,82,2.883858,2.994998,2.967213,4
3,513,BCC,57,45,3.480033,3.328212,3.366167,4
4,594,BCC,47,43,3.559949,3.337547,3.393148,4
...,...,...,...,...,...,...,...,...
1500,5001296,RC,10,8,1.704662,2.163419,2.048730,3
1501,5001383,ADS,15,11,2.411539,3.839256,3.482327,4
1502,5001409,ADS,8,8,2.620869,2.581436,2.591295,3
1503,5001434,GTI,25,22,2.704365,4.270445,3.878925,4
1504,5001459,ADS,35,34,1.949474,2.298535,2.211270,3

In [10]:
df_conceito.to_csv('./{}.csv'.format('conceito_enade_2021_Teste'),index=False)

## Verificação dos cálculos

In [94]:
ano = '2021'

conceito_calculado = pd.read_csv(f'conceito_enade_{ano}_Teste.csv')
#conceito_calculado = pd.read_csv(f"./concept_drift/tabela_final_{ano}_Teste_treinamento.csv")
#conceito_calculado = conceito_calculado.astype({'Nota_Conceito_Faixa':'int64'})

In [79]:
conceito_real = pd.read_csv(f'./resultados_CE/conceito_enade_{ano}.csv')
conceito_real = conceito_real.astype({'Nº  de Concluintes Participantes':'int64'})

In [80]:
lista_numero_cursos_de_computacao = [72, 4004, 6409, 4005, 79, 4006]
    
conceito_real = conceito_real.astype({'Código do Curso':'int64'})
conceito_real.sort_values("Código do Curso", inplace = True)
conceito_real.reset_index(drop=True, inplace = True)
conceito_real = conceito_real[conceito_real["Código da Área"].isin(lista_numero_cursos_de_computacao)]
#conceito_real = conceito_real[conceito_real["Conceito Enade (Faixa)"] != None]
conceito_real = conceito_real[conceito_real["Conceito Enade (Faixa)"] != "SC"]
conceito_real.dropna(subset=["Conceito Enade (Faixa)"], inplace=True) # Curso index 493 entra nesse caso: Adicionar no pipeline
conceito_real.reset_index(drop=True, inplace = True)
conceito_real = conceito_real.astype({'Conceito Enade (Faixa)':'int64'})

In [56]:
conceito_real.to_csv('./{}.csv'.format('conceito_real_enade_2021'),index=False)

In [96]:
sum(conceito_calculado["Nota_Conceito_Faixa"][:1500] == conceito_real["Conceito Enade (Faixa)"][:1500])

1286

In [55]:
conceito_real["Conceito Enade (Faixa)"].tail()

1500    3
1501    4
1502    3
1503    5
1504    3
Name: Conceito Enade (Faixa), dtype: int64

In [56]:
conceito_calculado["Nota_Conceito_Faixa"].tail()

1501    3
1502    4
1503    3
1504    4
1505    3
Name: Nota_Conceito_Faixa, dtype: int64

In [95]:
sum(conceito_calculado["Numero_Participantes"][:495] == conceito_real["Nº  de Concluintes Participantes"][:495])

495

In [58]:
conceito_calculado["Numero_Participantes"].tail()

1501     8
1502    11
1503     8
1504    22
1505    34
Name: Numero_Participantes, dtype: int64

In [59]:
conceito_real["Nº  de Concluintes Participantes"].tail()

1500     8
1501    11
1502     8
1503    22
1504    34
Name: Nº  de Concluintes Participantes, dtype: int64

## Deletando linha 493

In [63]:
conceito_calculado = conceito_calculado.drop(492)
conceito_calculado.reset_index(drop=True, inplace = True)
#conceito_calculado.to_csv('./{}.csv'.format('conceito_enade_2021_Teste'),index=False)

In [76]:
enade_curso = pd.read_csv(f"./concept_drift/tabela_final_{ano}_Teste.csv")
enade_curso = enade_curso.drop(492)
enade_curso.reset_index(drop=True, inplace = True)
enade_curso.to_csv(f"./concept_drift/tabela_final_{ano}_Teste.csv", index=False)

In [64]:
conceito_calculado["Numero_Participantes"][490:494]

490    13
491    54
492    31
493    12
Name: Numero_Participantes, dtype: int64

In [62]:
conceito_real["Nº  de Concluintes Participantes"][490:494]

490    13
491    54
492    31
493    12
Name: Nº  de Concluintes Participantes, dtype: int64

In [72]:
sum(conceito_calculado["Numero_Participantes"][:1506] == conceito_real["Nº  de Concluintes Participantes"][:1506])

1505