In [45]:
import numpy as np
import pandas as pd
import math

In [46]:
df_2021 = pd.read_csv('pre-process_2021.csv')

In [47]:
codigoCursosArray = df_2021["Codigo_do_Curso"].unique()

codigo_dos_cursos = codigoCursosArray.tolist()

In [48]:
df_media_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1
cursos_invalidos = []

    
for codigo in codigo_dos_cursos:
    subconjunto_do_codigo = df_2021.loc[df_2021['Codigo_do_Curso'] == codigo]
    subconjunto_do_codigo = subconjunto_do_codigo.reset_index(drop=True)
    
    medias_curso = []
    
    numero_participantes = 0
    soma_FG = 0
    soma_CE = 0
    
    for index, linha in subconjunto_do_codigo.iterrows():
        if subconjunto_do_codigo.at[index,"Tipo_Presenca"] == 555:
            numero_participantes += 1
            soma_FG += subconjunto_do_codigo.at[index,"Nota_FG"]
            soma_CE += subconjunto_do_codigo.at[index,"Nota_CE"]
            
    if numero_participantes <= 1:
        cursos_invalidos.append(codigo)
        continue
    
    media_FG = soma_FG / numero_participantes
    media_CE = soma_CE / numero_participantes
        
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    medias_curso.append(codigo)
    
    area =  subconjunto_do_codigo._get_value(0, "Curso")
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    medias_curso.append(area)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_FG')
    medias_curso.append(media_FG)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_CE')
    medias_curso.append(media_CE)
    
    df_media_cursos.append(medias_curso)
    definir_colunas = 0

df_medias = pd.DataFrame(df_media_cursos)

df_medias.columns =[nome_das_novas_colunas]

In [49]:
df_medias

     Codigo_do_Curso Curso   Media_FG   Media_CE
0                 36   BCC  38.841667  39.980556
1                127   BCC  45.089412  50.215294
2                317   BCC  39.869512  42.664634
3                513   BCC  43.997778  45.520000
4                594   BCC  44.551163  45.600000
...              ...   ...        ...        ...
1501         5001296    RC  27.525000  27.787500
1502         5001383   ADS  33.881818  42.527273
1503         5001409   ADS  35.250000  32.912500
1504         5001434   GTI  38.304545  51.786364
1505         5001459   ADS  30.861765  30.750000

[1506 rows x 4 columns]

In [50]:
areas_array = df_2021["Curso"].unique()

areas_lista = areas_array.tolist()

In [51]:
df_media_nacional_areas = []
nome_das_novas_colunas = []
definir_colunas = 1
    
for area in areas_lista:
    selecao_area = df_medias["Curso"] == area
    df_para_series = selecao_area.iloc[:,0]

    df_medias_area = df_medias.loc[df_para_series]
    df_medias_area = df_medias_area.reset_index(drop=True)
    
    numero_ocorrencias_area = len(df_medias_area)
        
    medias_nacionais_area = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    medias_nacionais_area.append(area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Media_Nacional_FG')
        
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_FG"][0]):
            somatorio += df_medias_area.loc[index,"Media_FG"][0]
    
    media_nacional_FG_area = somatorio / numero_ocorrencias_area
            
    medias_nacionais_area.append(media_nacional_FG_area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Media_Nacional_CE')
            
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_CE"][0]):
            somatorio += df_medias_area.loc[index,"Media_CE"][0]
    
    media_nacional_CE_area = somatorio / numero_ocorrencias_area
    
    medias_nacionais_area.append(media_nacional_CE_area)
    
    df_media_nacional_areas.append(medias_nacionais_area)
    definir_colunas = 0

df_media_nacional = pd.DataFrame(df_media_nacional_areas)

df_media_nacional.columns =[nome_das_novas_colunas]

In [52]:
df_media_nacional

  Curso Media_Nacional_FG Media_Nacional_CE
0   BCC         36.835868         35.027035
1    SI         34.228997         39.092470
2   GTI         30.176452         38.465078
3   ADS         32.747346         30.361970
4   LCC         33.337044         30.800819
5    RC         28.775563         28.300871

In [53]:
desvios_padrao_areas = []
nome_das_novas_colunas = []
definir_colunas = 1
    
for area in areas_lista:
    selecao_area = df_medias["Curso"] == area
    df_para_series = selecao_area.iloc[:,0]

    df_medias_area = df_medias.loc[df_para_series]
    df_medias_area = df_medias_area.reset_index(drop=True)
    
    numero_ocorrencias_area = len(df_medias_area)
        
    desvios_area = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    desvios_area.append(area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Desvio_Padrao_FG')
        
    media_nacional_area_FG = ""
    
    for index, linha in df_media_nacional.iterrows():
        if df_medias_area.loc[index,"Curso"][0] == df_media_nacional.loc[index,"Curso"][0]:
            media_nacional_area_FG = df_media_nacional.loc[index,"Media_Nacional_FG"][0]
            break
        
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_FG"][0]):
            somatorio += pow((df_medias_area.loc[index,"Media_FG"][0] - media_nacional_area_FG), 2)
    
    desvio_padrao_FG = math.sqrt(somatorio / (numero_ocorrencias_area - 1))
            
    desvios_area.append(desvio_padrao_FG)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Desvio_Padrao_CE')
        
    media_nacional_area_CE = ""
    
    for index, linha in df_media_nacional.iterrows():
        if df_medias_area.loc[index,"Curso"][0] == df_media_nacional.loc[index,"Curso"][0]:
            media_nacional_area_CE = df_media_nacional.loc[index,"Media_Nacional_CE"][0]
            break
            
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_CE"][0]):
            somatorio += pow((df_medias_area.loc[index,"Media_CE"][0] - media_nacional_area_CE), 2)
    
    desvio_padrao_CE = math.sqrt(somatorio / (numero_ocorrencias_area - 1))
    
    desvios_area.append(desvio_padrao_CE)
    
    desvios_padrao_areas.append(desvios_area)
    definir_colunas = 0

df_desvios_padrao = pd.DataFrame(desvios_padrao_areas)

df_desvios_padrao.columns =[nome_das_novas_colunas]

In [54]:
df_desvios_padrao

  Curso Desvio_Padrao_FG Desvio_Padrao_CE
0   BCC         6.510688         8.670723
1    SI         6.412463         5.369568
2   GTI         6.315235         7.416921
3   ADS         5.500378         6.564035
4   LCC         5.757064         5.835144
5    RC         7.081186         6.996520

In [55]:
afastamento_padronizado_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1

    
for index, linha in df_medias.iterrows():
    
    afastamentos_curso = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    afastamentos_curso.append(df_medias.loc[index, "Codigo_do_Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    afastamentos_curso.append(df_medias.loc[index, "Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Afastamento_Padronizado_FG')
        
    media_nacional_area_FG = 0
    
    for i_mn, l_mn in df_media_nacional.iterrows():
        if df_medias.loc[i_mn,"Curso"][0] == df_media_nacional.loc[i_mn,"Curso"][0]:
            media_nacional_area_FG = df_media_nacional.loc[i_mn,"Media_Nacional_FG"][0]
            break
        
    desvio_padrao_area_FG = 0
    
    for i_dp, l_dp in df_desvios_padrao.iterrows():
        if df_desvios_padrao.loc[i_dp,"Curso"][0] == df_medias.loc[i_dp,"Curso"][0]:
            desvio_padrao_area_FG = df_desvios_padrao.loc[i_dp,"Desvio_Padrao_FG"][0]
            break
    
    afastamento_padronizado_FG = (df_medias.loc[index,"Media_FG"][0] - media_nacional_area_FG) / desvio_padrao_area_FG
    afastamentos_curso.append(afastamento_padronizado_FG)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Afastamento_Padronizado_CE')
        
    media_nacional_area_CE = 0
    
    for i_mn, l_mn in df_media_nacional.iterrows():
        if df_medias.loc[i_mn,"Curso"][0] == df_media_nacional.loc[i_mn,"Curso"][0]:
            media_nacional_area_CE = df_media_nacional.loc[i_mn,"Media_Nacional_CE"][0]
            break
        
    desvio_padrao_area_CE = 0
    
    for i_dp, l_dp in df_desvios_padrao.iterrows():
        if df_desvios_padrao.loc[i_dp,"Curso"][0] == df_medias.loc[i_dp,"Curso"][0]:
            desvio_padrao_area_CE = df_desvios_padrao.loc[i_dp,"Desvio_Padrao_CE"][0]
            break
            
    afastamento_padronizado_CE = (df_medias.loc[index,"Media_CE"][0] - media_nacional_area_CE) / desvio_padrao_area_CE
    afastamentos_curso.append(afastamento_padronizado_CE)
    
    afastamento_padronizado_cursos.append(afastamentos_curso)
    definir_colunas = 0
    
df_afastamento_padronizado = pd.DataFrame(afastamento_padronizado_cursos)

df_afastamento_padronizado.columns =[nome_das_novas_colunas]

In [56]:
df_afastamento_padronizado

,Codigo_do_Curso,Curso,Afastamento_Padronizado_FG,Afastamento_Padronizado_CE
0,36,BCC,0.308078,0.571293
1,127,BCC,1.267692,1.751672
2,317,BCC,0.465948,0.880849
3,513,BCC,1.100024,1.210160
4,594,BCC,1.185020,1.219387
...,...,...,...,...
1501,5001296,RC,-1.430090,-0.834940
1502,5001383,ADS,-0.453723,0.865007
1503,5001409,ADS,-0.243579,-0.243871
1504,5001434,GTI,0.225579,1.932864
1505,5001459,ADS,-0.917584,-0.493273

In [57]:
conceito_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1
        
    
for index, linha in df_afastamento_padronizado.iterrows():
    
    conceitos_curso = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Codigo_do_Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Curso"][0])
    
    selecao_area = df_afastamento_padronizado["Curso"] == df_afastamento_padronizado.loc[index,"Curso"][0]
    df_para_series = selecao_area.iloc[:,0]

    subconjunto_area = df_afastamento_padronizado.loc[df_para_series]
    subconjunto_area = subconjunto_area.reset_index(drop=True)
    
    lista_outliers_ap_FG = []
    lista_outliers_ap_CE = []
    
    for i_sa, l_sa in subconjunto_area.iterrows():
        if (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_FG"][0] < -3) or (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_FG"][0] > 3):
            lista_outliers_ap_FG.append(i_sa)
        elif (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_CE"][0] < -3) or (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_CE"][0] > 3):
            lista_outliers_ap_CE.append(i_sa)
    
    subconjunto_valido_FG = subconjunto_area.drop(lista_outliers_ap_FG)
    ap_FG_min = subconjunto_valido_FG["Afastamento_Padronizado_FG"].min()[0]
    ap_FG_max = subconjunto_valido_FG["Afastamento_Padronizado_FG"].max()[0]
    
    subconjunto_valido_CE = subconjunto_area.drop(lista_outliers_ap_CE)
    ap_CE_min = subconjunto_valido_CE["Afastamento_Padronizado_CE"].min()[0]
    ap_CE_max = subconjunto_valido_CE["Afastamento_Padronizado_CE"].max()[0]
    
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Padronizada_FG')
        
    nota_padronizada_FG = 0
        
    if df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] < -3:
        nota_padronizada_FG = 0
        conceitos_curso.append(nota_padronizada_FG)
    elif df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] > 3:
        nota_padronizada_FG = 5
        conceitos_curso.append(nota_padronizada_FG)
    else:
        nota_padronizada_FG = ((df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] - ap_FG_min) / (ap_FG_max - ap_FG_min)) * 5
        conceitos_curso.append(nota_padronizada_FG)
            
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Padronizada_CE')
        
    nota_padronizada_CE = 0
        
    if df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] < -3:
        nota_padronizada_CE = 0
        conceitos_curso.append(nota_padronizada_CE)
    elif df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] > 3:
        nota_padronizada_CE = 5
        conceitos_curso.append(nota_padronizada_CE)
    else:
        nota_padronizada_CE = ((df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] - ap_CE_min) / (ap_CE_max - ap_CE_min)) * 5
        conceitos_curso.append(nota_padronizada_CE)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Conceito_Contínuo')
            
    nota_conceito_continuo = nota_padronizada_FG*0.25 + nota_padronizada_CE*0.75
    conceitos_curso.append(nota_conceito_continuo)
    
    nota_conceito_faixa = 0
    
    if nota_conceito_continuo >= 0 and nota_conceito_continuo < 0.945 :
        nota_conceito_faixa = 1
    elif nota_conceito_continuo >= 0.945 and nota_conceito_continuo < 1.945:
        nota_conceito_faixa = 2
    elif nota_conceito_continuo >= 1.945 and nota_conceito_continuo < 2.945:
        nota_conceito_faixa = 3
    elif nota_conceito_continuo >= 2.945 and nota_conceito_continuo < 3.945:
        nota_conceito_faixa = 4
    elif nota_conceito_continuo >= 3.945 and nota_conceito_continuo <= 5 :
        nota_conceito_faixa = 5
    
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Conceito_Faixa')
    conceitos_curso.append(nota_conceito_faixa)
    
    conceito_cursos.append(conceitos_curso)
    definir_colunas = 0
    
df_conceito = pd.DataFrame(conceito_cursos)

df_conceito.columns =[nome_das_novas_colunas]

In [58]:
df_conceito

,Codigo_do_Curso,Curso,Nota_Padronizada_FG,Nota_Padronizada_CE,Nota_Conceito_Contínuo,Nota_Conceito_Faixa
0,36,BCC,2.735423,2.681773,2.695185,3
1,127,BCC,3.637679,3.876141,3.816525,4
2,317,BCC,2.883858,2.994998,2.967213,4
3,513,BCC,3.480033,3.328212,3.366167,4
4,594,BCC,3.559949,3.337547,3.393148,4
...,...,...,...,...,...,...
1501,5001296,RC,1.704662,2.163419,2.048730,3
1502,5001383,ADS,2.411539,3.839256,3.482327,4
1503,5001409,ADS,2.620869,2.581436,2.591295,3
1504,5001434,GTI,2.704365,4.270445,3.878925,4
1505,5001459,ADS,1.949474,2.298535,2.211270,3

In [59]:
df_conceito.to_csv('./{}.csv'.format('conceito_enade_2021'),index=False)