In [1]:
import numpy as np
import pandas as pd
import math

In [30]:
df_2021 = pd.read_csv('pre-process_2011.csv')

In [31]:
codigoCursosArray = df_2021["Codigo_do_Curso"].unique()

codigo_dos_cursos = codigoCursosArray.tolist()

In [32]:
df_media_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1
cursos_invalidos = []

    
for codigo in codigo_dos_cursos:
    subconjunto_do_codigo = df_2021.loc[df_2021['Codigo_do_Curso'] == codigo]
    subconjunto_do_codigo = subconjunto_do_codigo.reset_index(drop=True)
    
    medias_curso = []
    
    numero_participantes = 0
    soma_FG = 0
    soma_CE = 0
    
    for index, linha in subconjunto_do_codigo.iterrows():
        if subconjunto_do_codigo.at[index,"Tipo_Presenca"] == 555:
            numero_participantes += 1
            soma_FG += subconjunto_do_codigo.at[index,"Nota_FG"]
            soma_CE += subconjunto_do_codigo.at[index,"Nota_CE"]
            
    if numero_participantes <= 1:
        cursos_invalidos.append(codigo)
        continue
    
    media_FG = soma_FG / numero_participantes
    media_CE = soma_CE / numero_participantes
        
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    medias_curso.append(codigo)
    
    area =  subconjunto_do_codigo._get_value(0, "Curso")
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    medias_curso.append(area)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_FG')
    medias_curso.append(media_FG)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_CE')
    medias_curso.append(media_CE)
    
    df_media_cursos.append(medias_curso)
    definir_colunas = 0

df_medias = pd.DataFrame(df_media_cursos)

df_medias.columns =[nome_das_novas_colunas]

In [33]:
df_medias

     Codigo_do_Curso Curso   Media_FG   Media_CE
0                 36   BCC  49.714286  33.996429
1                127   BCC  46.776316  43.602632
2                317   BCC  40.461538  31.423077
3                513   BCC  53.062500  33.970833
4                594   BCC  44.000000  34.391667
...              ...   ...        ...        ...
1217         5000356   BCC  51.655172  34.558621
1218         5000448   ADS  52.800000  26.500000
1219         5000456   ADS  50.937500  44.375000
1220         5000457   ADS  69.166667  59.800000
1221         5000884   ADS  60.971429  54.925714

[1222 rows x 4 columns]

In [34]:
areas_array = df_2021["Curso"].unique()

areas_lista = areas_array.tolist()

In [35]:
df_media_nacional_areas = []
nome_das_novas_colunas = []
definir_colunas = 1
    
for area in areas_lista:
    selecao_area = df_medias["Curso"] == area
    df_para_series = selecao_area.iloc[:,0]

    df_medias_area = df_medias.loc[df_para_series]
    df_medias_area = df_medias_area.reset_index(drop=True)
    
    numero_ocorrencias_area = len(df_medias_area)
        
    medias_nacionais_area = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    medias_nacionais_area.append(area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Media_Nacional_FG')
        
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_FG"][0]):
            somatorio += df_medias_area.loc[index,"Media_FG"][0]
    
    media_nacional_FG_area = somatorio / numero_ocorrencias_area
            
    medias_nacionais_area.append(media_nacional_FG_area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Media_Nacional_CE')
            
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_CE"][0]):
            somatorio += df_medias_area.loc[index,"Media_CE"][0]
    
    media_nacional_CE_area = somatorio / numero_ocorrencias_area
    
    medias_nacionais_area.append(media_nacional_CE_area)
    
    df_media_nacional_areas.append(medias_nacionais_area)
    definir_colunas = 0

df_media_nacional = pd.DataFrame(df_media_nacional_areas)

df_media_nacional.columns =[nome_das_novas_colunas]

In [36]:
df_media_nacional

  Curso Media_Nacional_FG Media_Nacional_CE
0   BCC         51.319594         26.219294
1   ADS         49.932322         38.547658
2    SI         49.387051         23.639781
3    EC         55.651461         33.578074
4   LCC         53.450907         24.955433
5    RC         47.691789         33.998144

In [37]:
desvios_padrao_areas = []
nome_das_novas_colunas = []
definir_colunas = 1
    
for area in areas_lista:
    selecao_area = df_medias["Curso"] == area
    df_para_series = selecao_area.iloc[:,0]

    df_medias_area = df_medias.loc[df_para_series]
    df_medias_area = df_medias_area.reset_index(drop=True)
    
    numero_ocorrencias_area = len(df_medias_area)
        
    desvios_area = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    desvios_area.append(area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Desvio_Padrao_FG')
        
    media_nacional_area_FG = ""
    
    for index, linha in df_media_nacional.iterrows():
        if df_medias_area.loc[index,"Curso"][0] == df_media_nacional.loc[index,"Curso"][0]:
            media_nacional_area_FG = df_media_nacional.loc[index,"Media_Nacional_FG"][0]
            break
        
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_FG"][0]):
            somatorio += pow((df_medias_area.loc[index,"Media_FG"][0] - media_nacional_area_FG), 2)
    
    desvio_padrao_FG = math.sqrt(somatorio / (numero_ocorrencias_area - 1))
            
    desvios_area.append(desvio_padrao_FG)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Desvio_Padrao_CE')
        
    media_nacional_area_CE = ""
    
    for index, linha in df_media_nacional.iterrows():
        if df_medias_area.loc[index,"Curso"][0] == df_media_nacional.loc[index,"Curso"][0]:
            media_nacional_area_CE = df_media_nacional.loc[index,"Media_Nacional_CE"][0]
            break
            
    somatorio = 0
        
    for index, linha in df_medias_area.iterrows():
        if not math.isnan(df_medias_area.loc[index,"Media_CE"][0]):
            somatorio += pow((df_medias_area.loc[index,"Media_CE"][0] - media_nacional_area_CE), 2)
    
    desvio_padrao_CE = math.sqrt(somatorio / (numero_ocorrencias_area - 1))
    
    desvios_area.append(desvio_padrao_CE)
    
    desvios_padrao_areas.append(desvios_area)
    definir_colunas = 0

df_desvios_padrao = pd.DataFrame(desvios_padrao_areas)

df_desvios_padrao.columns =[nome_das_novas_colunas]

In [38]:
df_desvios_padrao

  Curso Desvio_Padrao_FG Desvio_Padrao_CE
0   BCC         7.346551         8.533371
1   ADS         7.986593        10.633886
2    SI         6.746780         4.383925
3    EC         5.170213        12.243274
4   LCC         6.049074         4.978538
5    RC         7.721816         7.253122

In [39]:
afastamento_padronizado_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1

    
for index, linha in df_medias.iterrows():
    
    afastamentos_curso = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    afastamentos_curso.append(df_medias.loc[index, "Codigo_do_Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    afastamentos_curso.append(df_medias.loc[index, "Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Afastamento_Padronizado_FG')
        
    media_nacional_area_FG = 0
    
    for i_mn, l_mn in df_media_nacional.iterrows():
        if df_medias.loc[i_mn,"Curso"][0] == df_media_nacional.loc[i_mn,"Curso"][0]:
            media_nacional_area_FG = df_media_nacional.loc[i_mn,"Media_Nacional_FG"][0]
            break
        
    desvio_padrao_area_FG = 0
    
    for i_dp, l_dp in df_desvios_padrao.iterrows():
        if df_desvios_padrao.loc[i_dp,"Curso"][0] == df_medias.loc[i_dp,"Curso"][0]:
            desvio_padrao_area_FG = df_desvios_padrao.loc[i_dp,"Desvio_Padrao_FG"][0]
            break
    
    afastamento_padronizado_FG = (df_medias.loc[index,"Media_FG"][0] - media_nacional_area_FG) / desvio_padrao_area_FG
    afastamentos_curso.append(afastamento_padronizado_FG)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Afastamento_Padronizado_CE')
        
    media_nacional_area_CE = 0
    
    for i_mn, l_mn in df_media_nacional.iterrows():
        if df_medias.loc[i_mn,"Curso"][0] == df_media_nacional.loc[i_mn,"Curso"][0]:
            media_nacional_area_CE = df_media_nacional.loc[i_mn,"Media_Nacional_CE"][0]
            break
        
    desvio_padrao_area_CE = 0
    
    for i_dp, l_dp in df_desvios_padrao.iterrows():
        if df_desvios_padrao.loc[i_dp,"Curso"][0] == df_medias.loc[i_dp,"Curso"][0]:
            desvio_padrao_area_CE = df_desvios_padrao.loc[i_dp,"Desvio_Padrao_CE"][0]
            break
            
    afastamento_padronizado_CE = (df_medias.loc[index,"Media_CE"][0] - media_nacional_area_CE) / desvio_padrao_area_CE
    afastamentos_curso.append(afastamento_padronizado_CE)
    
    afastamento_padronizado_cursos.append(afastamentos_curso)
    definir_colunas = 0
    
df_afastamento_padronizado = pd.DataFrame(afastamento_padronizado_cursos)

df_afastamento_padronizado.columns =[nome_das_novas_colunas]

In [40]:
df_afastamento_padronizado

,Codigo_do_Curso,Curso,Afastamento_Padronizado_FG,Afastamento_Padronizado_CE
0,36,BCC,-0.218512,0.911379
1,127,BCC,-0.618423,2.037101
2,317,BCC,-1.477980,0.609816
3,513,BCC,0.237241,0.908379
4,594,BCC,-0.996331,0.957696
...,...,...,...,...
1217,5000356,BCC,0.045678,0.977261
1218,5000448,ADS,0.201510,0.032895
1219,5000456,ADS,-0.052010,2.127612
1220,5000457,ADS,2.429313,3.935222
1221,5000884,ADS,1.313791,3.364019

In [41]:
conceito_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1
        
    
for index, linha in df_afastamento_padronizado.iterrows():
    
    conceitos_curso = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Codigo_do_Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Curso"][0])
    
    selecao_area = df_afastamento_padronizado["Curso"] == df_afastamento_padronizado.loc[index,"Curso"][0]
    df_para_series = selecao_area.iloc[:,0]

    subconjunto_area = df_afastamento_padronizado.loc[df_para_series]
    subconjunto_area = subconjunto_area.reset_index(drop=True)
    
    lista_outliers_ap_FG = []
    lista_outliers_ap_CE = []
    
    for i_sa, l_sa in subconjunto_area.iterrows():
        if (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_FG"][0] < -3) or (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_FG"][0] > 3):
            lista_outliers_ap_FG.append(i_sa)
        elif (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_CE"][0] < -3) or (subconjunto_area.loc[i_sa,"Afastamento_Padronizado_CE"][0] > 3):
            lista_outliers_ap_CE.append(i_sa)
    
    subconjunto_valido_FG = subconjunto_area.drop(lista_outliers_ap_FG)
    ap_FG_min = subconjunto_valido_FG["Afastamento_Padronizado_FG"].min()[0]
    ap_FG_max = subconjunto_valido_FG["Afastamento_Padronizado_FG"].max()[0]
    
    subconjunto_valido_CE = subconjunto_area.drop(lista_outliers_ap_CE)
    ap_CE_min = subconjunto_valido_CE["Afastamento_Padronizado_CE"].min()[0]
    ap_CE_max = subconjunto_valido_CE["Afastamento_Padronizado_CE"].max()[0]
    
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Padronizada_FG')
        
    nota_padronizada_FG = 0
        
    if df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] < -3:
        nota_padronizada_FG = 0
        conceitos_curso.append(nota_padronizada_FG)
    elif df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] > 3:
        nota_padronizada_FG = 5
        conceitos_curso.append(nota_padronizada_FG)
    else:
        nota_padronizada_FG = ((df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] - ap_FG_min) / (ap_FG_max - ap_FG_min)) * 5
        conceitos_curso.append(nota_padronizada_FG)
            
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Padronizada_CE')
        
    nota_padronizada_CE = 0
        
    if df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] < -3:
        nota_padronizada_CE = 0
        conceitos_curso.append(nota_padronizada_CE)
    elif df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] > 3:
        nota_padronizada_CE = 5
        conceitos_curso.append(nota_padronizada_CE)
    else:
        nota_padronizada_CE = ((df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] - ap_CE_min) / (ap_CE_max - ap_CE_min)) * 5
        conceitos_curso.append(nota_padronizada_CE)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Conceito_ContÃ­nuo')
            
    nota_conceito_continuo = nota_padronizada_FG*0.25 + nota_padronizada_CE*0.75
    conceitos_curso.append(nota_conceito_continuo)
    
    nota_conceito_faixa = 0
    
    if nota_conceito_continuo >= 0 and nota_conceito_continuo < 0.945 :
        nota_conceito_faixa = 1
    elif nota_conceito_continuo >= 0.945 and nota_conceito_continuo < 1.945:
        nota_conceito_faixa = 2
    elif nota_conceito_continuo >= 1.945 and nota_conceito_continuo < 2.945:
        nota_conceito_faixa = 3
    elif nota_conceito_continuo >= 2.945 and nota_conceito_continuo < 3.945:
        nota_conceito_faixa = 4
    elif nota_conceito_continuo >= 3.945 and nota_conceito_continuo <= 5 :
        nota_conceito_faixa = 5
    
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Conceito_Faixa')
    conceitos_curso.append(nota_conceito_faixa)
    
    conceito_cursos.append(conceitos_curso)
    definir_colunas = 0
    
df_conceito = pd.DataFrame(conceito_cursos)

df_conceito.columns =[nome_das_novas_colunas]

In [42]:
df_conceito

,Codigo_do_Curso,Curso,Nota_Padronizada_FG,Nota_Padronizada_CE,Nota_Conceito_ContÃ­nuo,Nota_Conceito_Faixa
0,36,BCC,2.312301,2.921552,2.769239,3
1,127,BCC,1.965752,4.173058,3.621232,4
2,317,BCC,1.220889,2.586293,2.244942,3
3,513,BCC,2.707241,2.918218,2.865474,3
4,594,BCC,1.638270,2.973044,2.639351,3
...,...,...,...,...,...,...
1217,5000356,BCC,2.541239,2.994795,2.881406,3
1218,5000448,ADS,2.739563,1.638317,1.913628,2
1219,5000456,ADS,2.517396,4.038720,3.658389,4
1220,5000457,ADS,4.691849,5.000000,4.922962,5
1221,5000884,ADS,3.714286,5.000000,4.678571,5

In [43]:
df_conceito.to_csv('./{}.csv'.format('conceito_enade_2011'),index=False)