In [12]:
import pandas as pd

# 2014 - 2017

In [ ]:
for i in range(43):
    j = i + 1
    origin = f'dados_21/microdados2021_arq{j}.txt'
    destine = f'dados_21csv/arq{j}.csv'
    file = pd.read_csv(origin, sep=';')
    file.to_csv(destine, index = None)

In [13]:
arq1 = pd.read_csv('dados_21_csv/arq1.csv')

In [15]:
arq1

,CO_CURSO,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO
0,6,2021,1,1,10028,2001,1,5103403,51,5
1,6,2021,1,1,10028,2001,1,5103403,51,5
2,6,2021,1,1,10028,2001,1,5103403,51,5
3,6,2021,1,1,10028,2001,1,5103403,51,5
4,6,2021,1,1,10028,2001,1,5103403,51,5
...,...,...,...,...,...,...,...,...,...,...
489861,5001459,2021,3996,5,10022,72,1,2611606,26,2
489862,5001459,2021,3996,5,10022,72,1,2611606,26,2
489863,5001459,2021,3996,5,10022,72,1,2611606,26,2
489864,5001459,2021,3996,5,10022,72,1,2611606,26,2
489865,5001487,2021,3948,5,10022,72,1,4209102,42,4

In [14]:
col1 = arq1.pop("CO_CURSO")       # Muda "CO_CURSO" em arq1 para primeira posição
arq1.insert(0, col1.name, col1)

In [17]:
filesID = [2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 23, 24, 28, 29]
for i in filesID:
    arq = pd.read_csv(f'dados_21_Atributos/arq{i}.csv')
    col = arq.pop("CO_CURSO")       
    arq.insert(0, col.name, col)
    arqSorted = arq.sort_values('CO_CURSO')
    arqSorted = arqSorted.reset_index(drop=True) 
    arqSorted.to_csv('dados_21_Ajustado/{}.csv'.format(f'arq{i}'),index=False)

/tmp/ipykernel_8977/374007805.py:3: DtypeWarning: Columns (12,14,15,43,44,45,46,47,48,49,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  arq = pd.read_csv(f'dados_21_Atributos/arq{i}.csv')

In [18]:
# Parei aqui: ler todos os arquivos ajustados e concatenar todos com o arq1
arq1 = pd.read_csv('dados_21_csv/arq1.csv')
arq1 = pd.read_csv('dados_21_csv/arq1.csv')
arq1 = pd.read_csv('dados_21_csv/arq1.csv')
arq1 = pd.read_csv('dados_21_csv/arq1.csv')
arq1 = pd.read_csv('dados_21_csv/arq1.csv')
arq1 = pd.read_csv('dados_21_csv/arq1.csv')
arq1 = pd.read_csv('dados_21_csv/arq1.csv')

In [ ]:
concat1_2 = pd.concat([arq1, arq2Sorted], axis=1)  # Concatena os arquivos arq1 e arq2

In [ ]:
concat1_2

In [ ]:
remDuplic = concat1_2.loc[:,~concat1_2.columns.duplicated()]   # Remove as colunas duplicadas da concatenação

In [ ]:
remDuplic

In [ ]:
cursosComputacao = remDuplic[remDuplic["CO_GRUPO"].isin([72, 4004, 6409, 4005, 79, 4006])]

In [ ]:
cursosComputacao

In [ ]:
reset1_2 = cursosComputacao.reset_index(drop=True)   # Organiza os indexes depois da seleção dos dados

In [ ]:
reset1_2

In [ ]:
# Seleciona os atributos desejados dos arquivos arq1 e arq2
atrs1_2 = reset1_2[['NU_ANO','CO_CURSO','CO_GRUPO', 'CO_UF_CURSO', 'CO_REGIAO_CURSO', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_TURNO_GRADUACAO', 'ANO_FIM_EM', 'ANO_IN_GRAD']]

In [ ]:
atrs1_2

In [ ]:
#validScores = arq3[arq3["TP_PRES"] == 555]