In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('computacao_enade_2017.csv')

In [3]:
dados

,NU_ANO,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,ANO_IN_GRAD,...,QE_I06,QE_I07,QE_I15,QE_I10,QE_I22,QE_I23,QE_I61,QE_I62,QE_I38,QE_I27
0,2017,4004,51,5,1,10028,3.0,25.4,2012.0,2014.0,...,B,A,A,E,A,NaN,5.0,5.0,4.0,6.0
1,2017,4004,51,5,1,10028,3.0,44.4,2012.0,2014.0,...,B,NaN,F,A,B,C,6.0,6.0,6.0,6.0
2,2017,4004,51,5,1,10028,3.0,23.0,2014.0,2014.0,...,B,A,D,A,D,C,4.0,5.0,3.0,3.0
3,2017,4004,51,5,1,10028,3.0,53.2,2012.0,2013.0,...,B,H,A,A,C,C,1.0,1.0,5.0,6.0
4,2017,4004,51,5,1,10028,3.0,22.4,2012.0,2013.0,...,B,B,D,A,NaN,C,5.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51004,2017,72,42,4,5,10022,1.0,26.9,1996.0,2014.0,...,C,C,A,D,A,B,6.0,6.0,5.0,6.0
51005,2017,72,42,4,5,10022,1.0,30.6,2005.0,2015.0,...,C,A,A,A,A,B,6.0,6.0,2.0,4.0
51006,2017,72,42,4,5,10022,1.0,43.8,2007.0,2015.0,...,B,E,A,E,B,D,5.0,6.0,5.0,4.0
51007,2017,4005,42,4,5,10028,3.0,51.1,2009.0,2015.0,...,A,D,A,A,E,C,6.0,6.0,6.0,6.0
51008,2017,4005,42,4,5,10028,3.0,52.0,2000.0,2015.0,...,B,B,A,E,C,C,7.0,6.0,6.0,6.0