In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv('merge.csv')

In [3]:
codigoCursos = dados["Codigo_do_Curso"].unique()

In [4]:
len(codigoCursos)

2594

In [5]:
novoConjunto = []

for codigo in codigoCursos:
    subconjuntoCurso = dados.loc[dados['Codigo_do_Curso'] == codigo]
    subconjuntoCurso = subconjuntoCurso.reset_index(drop=True)
    
    dadosCurso = []
    
    areaEnquadramento = subconjuntoCurso._get_value(0, 'Curso')
    unidadeFederacao = subconjuntoCurso._get_value(0, 'UF')
    regiao = subconjuntoCurso._get_value(0, 'Regiao')
    categoriaAdministrativa = subconjuntoCurso._get_value(0, 'Cat_Administrativa')
    categoriaOrganizacaoAcademica = subconjuntoCurso._get_value(0, 'Cat_Org_Academica')
    turno = subconjuntoCurso._get_value(0, 'Turno')
    
    dadosCurso.extend([codigo, areaEnquadramento, unidadeFederacao, regiao, 
                       categoriaAdministrativa, categoriaOrganizacaoAcademica, turno])
    novoConjunto.append(dadosCurso)

novosDados = pd.DataFrame(novoConjunto)

In [6]:
novosDados

            0    1   2    3                4             5           6
0          36  BCC  MT   CO  Pública Federal  Universidade    Integral
1         127  BCC  DF   CO  Pública Federal  Universidade    Integral
2         317  BCC  SE   NE  Pública Federal  Universidade  Vespertino
3         513  BCC  PI   NE  Pública Federal  Universidade    Matutino
4         594  BCC  MG   SE  Pública Federal  Universidade    Integral
...       ...  ...  ..  ...              ...           ...         ...
2589  1126641   SI  SP   SE      Privada CFL  Universidade     Noturno
2590  1126655   SI  SP   SE      Privada CFL  Universidade     Noturno
2591  1129605  ADS  SP   SE      Privada CFL  Universidade     Noturno
2592  1133236  BCC  RS  SUL      Privada SFL  Universidade    Integral
2593  1152809  LCC  PE   NE  Pública Federal  Universidade    Integral

[2594 rows x 7 columns]