In [10]:
import pandas as pd

In [11]:
dados = pd.read_csv('computacao_enade_2021.csv')

In [15]:
dados

,NU_ANO,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,ANO_IN_GRAD,...,QE_I06,QE_I07,QE_I15,QE_I10,QE_I22,QE_I23,QE_I61,QE_I62,QE_I38,QE_I27
0,2021,4004,51,5,1,10028,3.0,26.9,2017.0,2018.0,...,B,B,B,A,E,A,6.0,6.0,6.0,6.0
1,2021,4004,51,5,1,10028,3.0,17.2,2015.0,2016.0,...,D,C,A,D,NaN,C,6.0,5.0,4.0,4.0
2,2021,4004,51,5,1,10028,3.0,43.9,2014.0,2015.0,...,B,A,A,A,A,C,4.0,4.0,4.0,4.0
3,2021,4004,51,5,1,10028,3.0,63.4,2014.0,2015.0,...,B,E,A,A,C,B,5.0,5.0,3.0,5.0
4,2021,4004,51,5,1,10028,3.0,73.7,2015.0,2016.0,...,B,D,E,E,B,D,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29537,2021,72,26,2,5,10022,4.0,28.6,2013.0,2020.0,...,B,B,A,A,B,D,6.0,6.0,6.0,6.0
29538,2021,72,26,2,5,10022,4.0,41.8,2016.0,2019.0,...,C,C,A,A,B,C,6.0,6.0,2.0,2.0
29539,2021,72,26,2,5,10022,4.0,18.9,2003.0,2019.0,...,B,A,A,E,E,B,6.0,6.0,1.0,2.0
29540,2021,72,26,2,5,10022,4.0,20.1,2008.0,2020.0,...,B,C,A,E,C,B,6.0,6.0,6.0,5.0
29541,2021,72,26,2,5,10022,4.0,27.1,2016.0,2019.0,...,B,E,A,E,B,C,5.0,6.0,4.0,3.0