In [1]:
import pandas as pd
import numpy as np

In [2]:
dados_do_enade = pd.read_csv('merge.csv')

In [3]:
codigoCursosArray = dados_do_enade["Codigo_do_Curso"].unique()

In [4]:
codigo_dos_cursos = codigoCursosArray.tolist()

In [ ]:
matrizParaConverterEmDf = []
numeroLinhasCursos = []

for codigo in codigo_dos_cursos:
    subconjunto_do_codigo = dados_do_enade.loc[dados_do_enade['Codigo_do_Curso'] == codigo]
    numeroLinhasCursos.append(len(subconjunto_do_codigo))

matrizParaConverterEmDf.append(numeroLinhasCursos)
dfNumeroLinhasCursos = pd.DataFrame(matrizParaConverterEmDf)
dfNumeroLinhasCursos.columns = codigo_dos_cursos

In [5]:
tipo_escola_em = ['Pública', 'Privada', 'Exterior']
modalidade_em = ['Tradicional', 'Técnico', 'Magistério', 'Supletivo', 'Outra']
sexo = ['Masculino', 'Feminino']
cor_raca = ['Branca', 'Preta', 'Amarela', 'Parda', 'Indígena', 'Não declarado']
estado_civil = ['Solteiro', 'Casado', 'Separado', 'Viúvo', 'Outro']
nivel_escolaridade = ['Nenhuma', 'Fundamental 1-5', 'Fundamental 6-9', 'Médio', 'Superior', 'Pós-graduação']
renda_familiar = ['Até 1,5 SM', 'De 1,5 a 3 SM', 'De 3 a 4,5 SM', 'De 4,5 a 6 SM', 'De 6 a 10 SM', 'De 10 a 30 SM', 'Acima de 30 SM']
tipo_moradia = ['Sozinho', 'Parentes', 'Cônjuge/Filhos', 'Outras pessoas', 'Universidade', 'Habitação individual/coletiva']
quantidade_pessoas_moradia = ['Nenhuma', 'Uma', 'Duas', 'Três', 'Quatro', 'Cinco', 'Seis', 'Sete ou mais']
politica_inclusao_social = ['Não', 'Critério étnico-racial', 'Critério de renda', 'Bolsa de estudos', 'Combinação de critérios', 'Critérios diferentes']
situacao_trabalho = ['Não', 'Eventualmente', 'Até 20 horas', '21 a 39 horas', '40 horas ou mais']
quantidade_livros = ['Nenhum', '1 ou 2', '3-5', '6-8', '+8']
horas_estudos = ['Nenhuma', '1-3', '4-7', '8-12', '+12']
opiniao_salas_e_salas_praticas = ['Nenhuma', 'Algumas', 'Maior parte', 'Todas', 'Não sei responder']
opiniao_plano_ensino = ['Amplamente', 'Parcialmente', 'Muito pouco', 'Não contribui', 'Não sei responder']
avaliacao_formacao = ['Muito boa', 'Boa', 'Regular', 'Fraca', 'Muito fraca', 'Não sei responder']
situacao_financeira = ['Sem renda/Outros', 'Tem renda/Outros', 'Tem renda/Independente', 'Tem renda/Sustenta', 'Tem renda/Principal']
bolsa_de_estudos = ['Sim', 'Não', 'Não se aplica']
uf_ensino_medio = ['RO','AC', 'AM','RR','PA','AP','TO','MA','PI','CE','RN','PB','PE','AL','SE','BA','MG','ES','RJ','SP','PR','SC','RS','MS','MT','GO', 'DF','Não se aplica']
disponibilidade_dominio_professores = ['Todos', 'Maior parte', 'Alguns', 'Nenhum', 'Não sei responder']

primeiro_conjunto_valores_repetidos = ['Condicao_Salas', 'Condicao_Praticas']
segundo_conjunto_valores_repetidos = ['Disponibilidade_Professores', 'Dominio_Professores']

atributos_do_curso = ['Curso', 'UF', 'Regiao', 'Cat_Administrativa', 'Cat_Org_Academica', 'Turno']

atributos_qualitativos = ['Tipo_Escola_EM', 'UF_Ensino_Medio', 'Modalidade_EM', 'Sexo', 'Cor_Raca', 'Estado_Civil', 'Nl_Pai', 'Nl_Mae', 'Renda', 
                             'Situacao_Financeira', 'Moradia', 'Qtde_Pessoas', 'Politica_de_Ingresso', 'Situacao_Trabalho', 'Bolsa_de_Estudos', 'Qtde_Livros', 
                             'Horas_de_Estudo', 'Disponibilidade_Professores', 'Dominio_Professores', 'Condicao_Salas', 'Condicao_Praticas', 'Plano_de_Ensino',
                             'Formacao']

atributos_quantitativos = ['Nota_Geral', 'Conclusao_Ensino_Medio', 'Anos_Preparacao', 'Anos_Graduacao', 'Idade']

In [6]:
transformacaoDadosEnade = []
nome_das_novas_colunas = []

definir_colunas = 1

for codigo in codigo_dos_cursos:
    subconjunto_do_codigo = dados_do_enade.loc[dados_do_enade['Codigo_do_Curso'] == codigo]
    subconjunto_do_codigo = subconjunto_do_codigo.reset_index(drop=True)
    
    dados_do_curso = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    
    dados_do_curso.append(codigo)
    
    for nome_coluna in subconjunto_do_codigo:
        
        if nome_coluna in atributos_do_curso:
            if definir_colunas:
                nome_das_novas_colunas.append(nome_coluna)
            
            valor =  subconjunto_do_codigo._get_value(0, nome_coluna)
            dados_do_curso.append(valor)
    
        if nome_coluna in atributos_quantitativos:
            if definir_colunas:
                nome_das_novas_colunas.append(nome_coluna)
            
            media_dos_valores = subconjunto_do_codigo[nome_coluna].mean()
            dados_do_curso.append(media_dos_valores)
            
        if nome_coluna in atributos_qualitativos:
            if definir_colunas:
                nome_das_novas_colunas.append('nulos_' + nome_coluna)
                
            numero_de_valores_nulos = subconjunto_do_codigo[nome_coluna].isna().sum()
            dados_do_curso.append(numero_de_valores_nulos)
        
            if nome_coluna == 'Tipo_Escola_EM':
                for valor in tipo_escola_em:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'UF_Ensino_Medio':
                for valor in uf_ensino_medio:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Modalidade_EM':
                for valor in modalidade_em:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Sexo':
                for valor in sexo:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Cor_Raca':
                for valor in cor_raca:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Estado_Civil':
                for valor in estado_civil:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Nl_Pai':
                for valor in nivel_escolaridade:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Nl_Mae':
                for valor in nivel_escolaridade:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Renda':
                for valor in renda_familiar:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Situacao_Financeira':
                for valor in situacao_financeira:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Moradia':
                for valor in tipo_moradia:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Qtde_Pessoas':
                for valor in quantidade_pessoas_moradia:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Politica_de_Ingresso':
                for valor in politica_inclusao_social:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Situacao_Trabalho':
                for valor in situacao_trabalho:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Bolsa_de_Estudos':
                for valor in bolsa_de_estudos:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Qtde_Livros':
                for valor in quantidade_livros:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Horas_de_Estudo':
                for valor in horas_estudos:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna in primeiro_conjunto_valores_repetidos:
                for valor in opiniao_salas_e_salas_praticas:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna in segundo_conjunto_valores_repetidos:
                for valor in disponibilidade_dominio_professores:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Plano_de_Ensino':
                for valor in opiniao_plano_ensino:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
                    
            elif nome_coluna == 'Formacao':
                for valor in avaliacao_formacao:
                    if definir_colunas:
                        nome_das_novas_colunas.append(valor)
                        
                    valores_unicos_do_atributo = subconjunto_do_codigo[nome_coluna].dropna().unique()
                    
                    if valor in valores_unicos_do_atributo:
                        numero_de_ocorrencias = subconjunto_do_codigo[nome_coluna].value_counts()[valor]
                    else:
                        numero_de_ocorrencias = 0
                    
                    dados_do_curso.append(numero_de_ocorrencias)
        
    transformacaoDadosEnade.append(dados_do_curso)
    definir_colunas = 0

dfDadosTransformados = pd.DataFrame(transformacaoDadosEnade)

dfDadosTransformados.columns =[nome_das_novas_colunas]

In [7]:
dfDadosTransformados

,Codigo_do_Curso,Curso,UF,nulos_UF_Ensino_Medio,RO,AC,AM,RR,PA,AP,...,Muito pouco,Não contribui,Não sei responder,nulos_Formacao,Muito boa,Boa,Regular,Fraca,Muito fraca,Não sei responder
0,36,BCC,MT,19,3,0,0,0,2,0,...,13,10,16,6,20,41,30,7,2,14
1,127,BCC,DF,40,0,0,0,0,0,0,...,39,33,7,38,62,65,74,10,5,6
2,317,BCC,SE,36,0,0,1,0,0,0,...,12,14,1,35,61,76,51,9,2,2
3,513,BCC,PI,21,0,0,0,0,1,1,...,17,11,6,17,54,55,48,5,3,5
4,594,BCC,MG,6,0,0,0,0,0,0,...,13,5,2,5,51,42,26,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2589,1126641,SI,SP,4,0,0,0,0,0,0,...,2,1,4,0,6,9,4,1,0,4
2590,1126655,SI,SP,15,0,0,0,0,0,0,...,5,3,19,0,12,31,20,7,2,15
2591,1129605,ADS,SP,1,0,0,0,0,0,0,...,0,0,1,0,0,4,1,0,0,1
2592,1133236,BCC,RS,1,0,0,0,0,0,0,...,2,0,1,0,6,16,2,0,0,1
2593,1152809,LCC,PE,3,0,0,0,0,0,0,...,1,0,4,0,13,18,2,0,0,3

In [8]:
dfDadosTransformados.to_csv('./{}.csv'.format('pre-process_merger'),index=False)