In [1]:
import pandas as pd
import numpy as np

In [ ]:
dados_11 = pd.read_csv('computacao_enade_2011.csv')

In [ ]:
dados_21 = pd.read_csv('pre-process_2021.csv')

In [ ]:
dados = pd.read_csv('merge.csv')

In [ ]:
# Nenhuma renda familiar

dados_11_Nenhum_Salario = dados_11[dados_11["QE_I05"] == "A"]
len_Tipo_EM_E = len(dados_11_Nenhum_Salario)

len_Tipo_EM_E

In [ ]:
# J = Mais de um dos tipos de bolsa ou financiamento citados.

dados_11_Mais_de_um = dados_11[dados_11["QE_I10"] == "J"]
len_Mais_de_um = len(dados_11_Mais_de_um)

len_Mais_de_um

In [ ]:
# Repondeu "Não se aplica", "Não" ou apenas não respondeu a questão QE_I10

dados_11_Sem_Bolsa = dados_11[dados_11["QE_I10"].isnull()]
len_Sem_Bolsa = len(dados_11_Sem_Bolsa)

len_Sem_Bolsa

In [ ]:
# Repondeu "Não se aplica" ou "Não" em QE_I09

dados_11_Nao_Bolsa = dados_11[(dados_11["QE_I09"] == "B") | (dados_11["QE_I09"] == "C") | (dados_11["QE_I09"].isnull())]
len_Nao_Bolsa = len(dados_11_Nao_Bolsa)

len_Nao_Bolsa

In [ ]:
df = pd.DataFrame(columns = ["Atributo 1", "Atributo 2", "Atributo 3"])

df["Atributo 1"] = "Renan"
df["Atributo 2"] = 0
df["Atributo 3"] = 2002

df

In [ ]:
numpy_array = np.array([10,20,30,40,50])
np.concatenate(numpy_array,[60,80,90])

numpy_array

In [ ]:
# Mexendo com np array para colocar em posições especificas de acordo com a cópia do data frame

In [ ]:
numero_evasoes_IESes = pd.Series([], dtype=float)

for i in range(10):
    numero_evasoes_IESes = pd.concat([numero_evasoes_IESes, [9]])

In [ ]:
numero_evasoes_IESes

In [ ]:
tabela_final = pd.read_csv("tabela_final.csv")

In [ ]:
linhas_excluir = []

for index, linha in tabela_final.iterrows():
    if tabela_final.at[index, "Numero_Participantes"] <= 1:
        linhas_excluir.append(index)
        
tabela_final = tabela_final.drop(linhas_excluir)
tabela_final = tabela_final.reset_index(drop=True)

In [9]:
tabela_final

,Codigo_do_Curso,Numero_Notas_Invalidas,Numero_Faltantes,Numero_Participantes,Ano,Curso,UF,nulos_UF_Ensino_Medio,RO,AC,...,Muito pouco,Não contribui,Não sei responder.4,nulos_Formacao,Muito boa,Boa,Regular,Fraca,Muito fraca,Não sei responder.5
0,36,1,4,36,2021,BCC,MT,3,2,0,...,7,7,2,3,5,12,14,5,1,1
1,127,0,27,85,2021,BCC,DF,11,0,0,...,19,15,3,11,25,28,38,5,2,3
2,317,0,17,82,2021,BCC,SE,14,0,0,...,6,4,0,14,28,36,20,1,0,0
3,513,0,12,45,2021,BCC,PI,0,0,0,...,9,1,2,0,19,21,15,2,0,0
4,594,0,4,43,2021,BCC,MG,3,0,0,...,1,1,0,3,21,17,6,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5833,5000356,1,2,58,2011,BCC,RJ,3,0,0,...,2,0,4,0,14,26,15,2,1,3
5834,5000448,0,1,5,2011,ADS,AM,1,0,0,...,0,0,1,0,1,3,1,0,0,1
5835,5000456,0,1,8,2011,ADS,SP,1,0,0,...,1,0,1,0,3,4,0,0,1,1
5836,5000457,0,0,3,2011,ADS,SP,0,0,0,...,0,0,0,0,0,1,2,0,0,0
5837,5000884,0,2,35,2011,ADS,SP,0,0,0,...,3,0,0,0,11,17,6,3,0,0

In [2]:
tab_final2 = pd.read_csv('tabela_final.csv')

In [9]:
numero_de_valores_nulos = tab_final2["Regiao"].isna().sum()
print(numero_de_valores_nulos)

0