In [10]:
import pandas as pd

In [27]:
ano = 2021

In [28]:
df_conceito = pd.read_csv(f'../conceito_enade_{ano}_webscrap.csv')

df_conceito_faixa = df_conceito[['Nota_Conceito_Faixa']].copy()

In [29]:
df_conceito_faixa

      Nota_Conceito_Faixa
0                       3
1                       4
2                       4
3                       4
4                       4
...                   ...
1500                    3
1501                    4
1502                    3
1503                    5
1504                    3

[1505 rows x 1 columns]

In [30]:
df_enade = pd.read_csv(f'./tabelas_finais/tabela_final_{ano}.csv')

In [31]:
df_enade

,Codigo_do_Curso,Ano,Numero_Notas_Invalidas,Numero_Faltantes,Numero_Participantes,ADS,BCC,EC,GTI,LCC,...,Muito pouco_Plano_de_Ensino,Não contribui_Plano_de_Ensino,Não sei responder_Plano_de_Ensino,nulos_Formacao,Muito boa_Formacao,Boa_Formacao,Regular_Formacao,Fraca_Formacao,Muito fraca_Formacao,Não sei responder_Formacao
0,36,2021,0.02439,0.097561,0.878049,0.0,1.0,0.0,0.0,0.0,...,0.170732,0.170732,0.048780,0.073171,0.121951,0.292683,0.341463,0.121951,0.024390,0.024390
1,127,2021,0.00000,0.241071,0.758929,0.0,1.0,0.0,0.0,0.0,...,0.169643,0.133929,0.026786,0.098214,0.223214,0.250000,0.339286,0.044643,0.017857,0.026786
2,317,2021,0.00000,0.171717,0.828283,0.0,1.0,0.0,0.0,0.0,...,0.060606,0.040404,0.000000,0.141414,0.282828,0.363636,0.202020,0.010101,0.000000,0.000000
3,513,2021,0.00000,0.210526,0.789474,0.0,1.0,0.0,0.0,0.0,...,0.157895,0.017544,0.035088,0.000000,0.333333,0.368421,0.263158,0.035088,0.000000,0.000000
4,594,2021,0.00000,0.085106,0.914894,0.0,1.0,0.0,0.0,0.0,...,0.021277,0.021277,0.000000,0.063830,0.446809,0.361702,0.127660,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500,5001296,2021,0.00000,0.200000,0.800000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.200000,0.300000,0.200000,0.300000,0.000000,0.000000,0.000000
1501,5001383,2021,0.00000,0.266667,0.733333,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.066667,0.000000,0.200000,0.533333,0.066667,0.200000,0.000000,0.000000,0.000000
1502,5001409,2021,0.00000,0.000000,1.000000,1.0,0.0,0.0,0.0,0.0,...,0.125000,0.000000,0.000000,0.000000,0.375000,0.500000,0.125000,0.000000,0.000000,0.000000
1503,5001434,2021,0.00000,0.120000,0.880000,0.0,0.0,0.0,1.0,0.0,...,0.040000,0.080000,0.000000,0.120000,0.240000,0.360000,0.240000,0.040000,0.000000,0.000000
1504,5001459,2021,0.00000,0.028571,0.971429,1.0,0.0,0.0,0.0,0.0,...,0.171429,0.200000,0.000000,0.000000,0.314286,0.200000,0.314286,0.171429,0.000000,0.000000

In [32]:
# Edição de 2017
# df_enade = df_enade[df_enade["Codigo_do_Curso"] != 73438]

# Edição de 2021
# df_enade = df_enade[df_enade["Codigo_do_Curso"] != 87330]

# Edição de 2011
# df_enade = df_enade[df_enade["Codigo_do_Curso"] != 94260]

df_enade.sort_values("Codigo_do_Curso", inplace = True)
df_enade.reset_index(drop=True, inplace = True)

In [33]:
df_tabela_final_treinamento = pd.concat([df_enade, df_conceito_faixa], axis=1)

In [34]:
df_tabela_final_treinamento.to_csv(f'./tabelas_finais/tabela_final_{ano}_treinamento.csv',index=False)