In [1]:
import pandas as pd

In [14]:
ano = 2011

In [15]:
df_conceito = pd.read_csv(f'../conceito_enade_{ano}_webscrap.csv')

df_conceito_faixa = df_conceito[['Nota_Conceito_Faixa']].copy()

In [16]:
df_conceito_faixa

      Nota_Conceito_Faixa
0                       3
1                       4
2                       3
3                       3
4                       3
...                   ...
1216                    3
1217                    2
1218                    3
1219                    5
1220                    5

[1221 rows x 1 columns]

In [18]:
df_enade = pd.read_csv(f'./tabelas_finais/tabela_final_{ano}.csv')

In [21]:
df_enade

,Codigo_do_Curso,Numero_Notas_Invalidas,Numero_Faltantes,Numero_Participantes,ADS,BCC,EC,GTI,LCC,RC,...,Muito pouco_Plano_de_Ensino,Não contribui_Plano_de_Ensino,Não sei responder_Plano_de_Ensino,nulos_Formacao,Muito boa_Formacao,Boa_Formacao,Regular_Formacao,Fraca_Formacao,Muito fraca_Formacao,Não sei responder_Formacao
0,36,0.000000,0.300000,0.700000,0.0,1.0,0.0,0.0,0.0,0.0,...,0.050000,0.0,0.325000,0.0,0.150000,0.325000,0.125000,0.050000,0.025000,0.325000
1,127,0.000000,0.073171,0.926829,0.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.048780,0.0,0.512195,0.414634,0.024390,0.000000,0.000000,0.048780
2,317,0.000000,0.071429,0.928571,0.0,1.0,0.0,0.0,0.0,0.0,...,0.023810,0.0,0.023810,0.0,0.285714,0.404762,0.214286,0.071429,0.000000,0.023810
3,513,0.000000,0.142857,0.857143,0.0,1.0,0.0,0.0,0.0,0.0,...,0.071429,0.0,0.142857,0.0,0.285714,0.392857,0.142857,0.035714,0.000000,0.142857
4,594,0.000000,0.076923,0.923077,0.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.076923,0.0,0.692308,0.153846,0.076923,0.000000,0.000000,0.076923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,5000356,0.016393,0.032787,0.950820,0.0,1.0,0.0,0.0,0.0,0.0,...,0.032787,0.0,0.065574,0.0,0.229508,0.426230,0.245902,0.032787,0.016393,0.049180
1217,5000448,0.000000,0.166667,0.833333,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.166667,0.0,0.166667,0.500000,0.166667,0.000000,0.000000,0.166667
1218,5000456,0.000000,0.111111,0.888889,1.0,0.0,0.0,0.0,0.0,0.0,...,0.111111,0.0,0.111111,0.0,0.333333,0.444444,0.000000,0.000000,0.111111,0.111111
1219,5000457,0.000000,0.000000,1.000000,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.333333,0.666667,0.000000,0.000000,0.000000
1220,5000884,0.000000,0.054054,0.945946,1.0,0.0,0.0,0.0,0.0,0.0,...,0.081081,0.0,0.000000,0.0,0.297297,0.459459,0.162162,0.081081,0.000000,0.000000

In [20]:
# Edição de 2017
# df_enade = df_enade[df_enade["Codigo_do_Curso"] != 73438]

# Edição de 2021
# df_enade = df_enade[df_enade["Codigo_do_Curso"] != 87330]

# Edição de 2011
df_enade = df_enade[df_enade["Codigo_do_Curso"] != 94260]

df_enade.sort_values("Codigo_do_Curso", inplace = True)
df_enade.reset_index(drop=True, inplace = True)

/tmp/ipykernel_65715/82289322.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_enade.sort_values("Codigo_do_Curso", inplace = True)

In [22]:
df_tabela_final_treinamento = pd.concat([df_enade, df_conceito_faixa], axis=1)

In [23]:
df_tabela_final_treinamento.to_csv(f'./tabelas_finais/tabela_final_{ano}_treinamento.csv',index=False)