# Nota técnica - 2021

In [1]:
import numpy as np
import pandas as pd
import math
from decimal import Decimal as Dec, ROUND_DOWN

In [10]:
df_2021 = pd.read_csv('pre-process_2017_tres_anos.csv')

In [16]:
df_2021 = pd.read_csv(f'./concept_drift/tabela_final_2017_tres_anos.csv')

In [4]:
df_2021 = df_2021[df_2021["Codigo_do_Curso"] != 87330]
codigoCursosArray = df_2021["Codigo_do_Curso"].unique()
print(len(codigoCursosArray))

codigo_dos_cursos = codigoCursosArray.tolist()

1649

In [8]:
sum(df_2021["Codigo_do_Curso"] == 87330)

0

In [6]:
df_2021.to_csv('./{}.csv'.format('pre-process_2021_tres_anos'),index=False)

In [12]:
df_2021 = df_2021[df_2021["Codigo_do_Curso"] != 73438]
codigoCursosArray = df_2021["Codigo_do_Curso"].unique()
print(len(codigoCursosArray))

codigo_dos_cursos = codigoCursosArray.tolist()

1694

In [ ]:
sum(df_2021["Codigo_do_Curso"] == 73438)

In [13]:
df_2021.to_csv('./{}.csv'.format('pre-process_2017_tres_anos'),index=False)

In [3]:
codigoCursosArray = df_2021["Codigo_do_Curso"].unique()
print(len(codigoCursosArray))

codigo_dos_cursos = codigoCursosArray.tolist()

1554

### Atributos presentes no arquivo de CE de 2014

Código da área, Código da IES, Código do Município, Número de Inscritos/Participantes

### Cálculo do desempenho médio

In [9]:
df_media_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1
cursos_invalidos = []

    
for codigo in codigo_dos_cursos:
    subconjunto_do_codigo = df_2021.loc[df_2021['Codigo_do_Curso'] == codigo]
    subconjunto_do_codigo = subconjunto_do_codigo.reset_index(drop=True)
    
    medias_curso = []
    
    numero_inscritos = len(subconjunto_do_codigo)
    numero_participantes = sum(subconjunto_do_codigo["Tipo_Presenca"] == 555)
            
    if numero_participantes <= 1:
        cursos_invalidos.append(codigo)
        continue
    
    soma_FG = subconjunto_do_codigo["Nota_FG"].sum()
    soma_CE = subconjunto_do_codigo["Nota_CE"].sum()
    
    media_FG = soma_FG / numero_participantes
    media_CE = soma_CE / numero_participantes
        
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    medias_curso.append(codigo)
    
    cod_area =  subconjunto_do_codigo._get_value(0, "Codigo_Area")
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_Area')
    medias_curso.append(cod_area)
    
    cod_ies =  subconjunto_do_codigo._get_value(0, "Codigo_IES")
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_IES')
    medias_curso.append(cod_ies)
    
    cod_municipio =  subconjunto_do_codigo._get_value(0, "Codigo_Municipio")
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_Municipio')
    medias_curso.append(cod_municipio)
    
    area =  subconjunto_do_codigo._get_value(0, "Curso")
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    medias_curso.append(area)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Inscritos')
    medias_curso.append(numero_inscritos)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Participantes')
    medias_curso.append(numero_participantes)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_FG')
    medias_curso.append(pd.to_numeric(Dec(media_FG).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
    #medias_curso.append(np.floor(media_FG * 1000) / 1000)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_CE')
    medias_curso.append(pd.to_numeric(Dec(media_CE).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
    #medias_curso.append(np.floor(media_CE * 1000) / 1000)
    
    df_media_cursos.append(medias_curso)
    definir_colunas = 0

df_medias = pd.DataFrame(df_media_cursos)

df_medias.columns =[nome_das_novas_colunas]

In [10]:
len(cursos_invalidos)

49

In [11]:
df_medias

,Codigo_do_Curso,Codigo_Area,Codigo_IES,Codigo_Municipio,Curso,Numero_Inscritos,Numero_Participantes,Media_FG,Media_CE
0,36,4004,1,5103403,BCC,16,12,68.841,49.799
1,127,4004,2,5300108,BCC,28,24,60.095,53.554
2,317,4004,3,2806701,BCC,56,43,62.711,51.546
3,513,4004,5,2211001,BCC,37,29,61.086,48.710
4,594,4004,6,3146107,BCC,40,37,68.118,55.805
...,...,...,...,...,...,...,...,...,...
1500,5001073,4005,1813,1500107,LCC,29,28,53.960,44.917
1501,5001087,4005,1813,1508100,LCC,23,20,56.720,49.754
1502,5001088,4005,1813,1506807,LCC,62,58,46.591,45.400
1503,5001103,4005,1813,1503606,LCC,23,22,51.590,39.609
1504,5001162,4005,47,5201108,LCC,45,26,54.626,48.996

In [338]:
sum(df_medias["Media_CE"].values == 0.0)

array([0])

In [60]:
df_medias.to_csv('./{}.csv'.format('conceito_enade_2021_Teste_medias_1'),index=False)

### Cálculo da média nacional

In [12]:
areas_array = df_2021["Curso"].unique()
print(len(areas_array))

areas_lista = areas_array.tolist()

6

In [13]:
df_media_nacional_areas = []
nome_das_novas_colunas = []
definir_colunas = 1
    
for area in areas_lista:
    numero_ocorrencias_area = sum(df_medias["Curso"].values == area)
        
    medias_nacionais_area = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    medias_nacionais_area.append(area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Media_Nacional_FG')
        
    somatorio_FG = df_medias[df_medias["Curso"].values == area]["Media_FG"].sum()
    
    media_nacional_FG_area = float(somatorio_FG / numero_ocorrencias_area)
    
    medias_nacionais_area.append(media_nacional_FG_area)
    #medias_nacionais_area.append(float(Dec(str(media_nacional_FG_area)).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
        
    if definir_colunas:
        nome_das_novas_colunas.append('Media_Nacional_CE')
            
    somatorio_CE = df_medias[df_medias["Curso"].values == area]["Media_CE"].sum()
    
    media_nacional_CE_area = float(somatorio_CE / numero_ocorrencias_area)

    medias_nacionais_area.append(media_nacional_CE_area)
    #medias_nacionais_area.append(float(Dec(str(media_nacional_CE_area)).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
    
    df_media_nacional_areas.append(medias_nacionais_area)
    definir_colunas = 0

df_media_nacional = pd.DataFrame(df_media_nacional_areas)

df_media_nacional.columns =[nome_das_novas_colunas]

In [14]:
df_media_nacional

  Curso Media_Nacional_FG Media_Nacional_CE
0   BCC         59.504063         37.752276
1    EC         62.655487         41.708437
2    SI         56.785426         39.144902
3   ADS         55.868565         35.777168
4   LCC         54.251074         48.497352
5    RC         52.675071         38.953619

In [38]:
df_media_nacional.to_csv('./{}.csv'.format('conceito_enade_2021_Teste_medias_nacionais'),index=False)

In [15]:
desvios_padrao_areas = []
nome_das_novas_colunas = []
definir_colunas = 1
    
for area in areas_lista:
    numero_ocorrencias_area = sum(df_medias["Curso"].values == area)
        
    desvios_area = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    desvios_area.append(area)
        
    if definir_colunas:
        nome_das_novas_colunas.append('Desvio_Padrao_FG')
        
    media_nacional_area_FG = df_media_nacional[df_media_nacional["Curso"].values == area]["Media_Nacional_FG"].iat[0,0]
    
    somatorio_FG = pow(df_medias[df_medias["Curso"].values == area]["Media_FG"] - media_nacional_area_FG, 2).values.sum()
    
    desvio_padrao_FG = math.sqrt(somatorio_FG / (numero_ocorrencias_area - 1))
     
    desvios_area.append(desvio_padrao_FG)
    #desvios_area.append(float(Dec(str(desvio_padrao_FG)).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
        
    if definir_colunas:
        nome_das_novas_colunas.append('Desvio_Padrao_CE')
        
    media_nacional_area_CE = df_media_nacional[df_media_nacional["Curso"].values == area]["Media_Nacional_CE"].iat[0,0]
            
    somatorio_CE = pow(df_medias[df_medias["Curso"].values == area]["Media_CE"] - media_nacional_area_CE, 2).values.sum()
    
    desvio_padrao_CE = math.sqrt(somatorio_CE / (numero_ocorrencias_area - 1))
    
    desvios_area.append(desvio_padrao_CE)
    #desvios_area.append(float(Dec(str(desvio_padrao_CE)).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
    
    desvios_padrao_areas.append(desvios_area)
    definir_colunas = 0

df_desvios_padrao = pd.DataFrame(desvios_padrao_areas)

df_desvios_padrao.columns =[nome_das_novas_colunas]

In [16]:
df_desvios_padrao

  Curso Desvio_Padrao_FG Desvio_Padrao_CE
0   BCC         6.931633         9.361753
1    EC         7.851587         9.024313
2    SI         6.921602         7.059955
3   ADS         6.845903         7.603124
4   LCC         6.642156         7.932016
5    RC         7.140352         6.896446

In [17]:
afastamento_padronizado_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1

    
for index, linha in df_medias.iterrows():
    
    afastamentos_curso = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    afastamentos_curso.append(df_medias.loc[index, "Codigo_do_Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_Area')
    afastamentos_curso.append(df_medias.loc[index, "Codigo_Area"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_IES')
    afastamentos_curso.append(df_medias.loc[index, "Codigo_IES"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_Municipio')
    afastamentos_curso.append(df_medias.loc[index, "Codigo_Municipio"][0])
    
    area = df_medias.loc[index, "Curso"][0]
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    afastamentos_curso.append(area)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Inscritos')
    afastamentos_curso.append(df_medias.loc[index, "Numero_Inscritos"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Participantes')
    afastamentos_curso.append(df_medias.loc[index, "Numero_Participantes"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_FG')
    afastamentos_curso.append(df_medias.loc[index, "Media_FG"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_CE')
    afastamentos_curso.append(df_medias.loc[index, "Media_CE"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Afastamento_Padronizado_FG')
    
    media_nacional_area_FG = df_media_nacional[df_media_nacional["Curso"].values == area]["Media_Nacional_FG"].iat[0,0]
        
    desvio_padrao_area_FG = df_desvios_padrao[df_desvios_padrao["Curso"].values == area]["Desvio_Padrao_FG"].iat[0,0]
    
    afastamento_padronizado_FG = (df_medias.loc[index,"Media_FG"][0] - media_nacional_area_FG) / desvio_padrao_area_FG
    
    afastamentos_curso.append(afastamento_padronizado_FG)
    #afastamentos_curso.append(float(Dec(str(afastamento_padronizado_FG)).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
    
    if definir_colunas:
        nome_das_novas_colunas.append('Afastamento_Padronizado_CE')
        
    media_nacional_area_CE = df_media_nacional[df_media_nacional["Curso"].values == area]["Media_Nacional_CE"].iat[0,0]
        
    desvio_padrao_area_CE = df_desvios_padrao[df_desvios_padrao["Curso"].values == area]["Desvio_Padrao_CE"].iat[0,0]
            
    afastamento_padronizado_CE = (df_medias.loc[index,"Media_CE"][0] - media_nacional_area_CE) / desvio_padrao_area_CE
    
    afastamentos_curso.append(afastamento_padronizado_CE)
    #afastamentos_curso.append(float(Dec(str(afastamento_padronizado_CE)).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
    
    afastamento_padronizado_cursos.append(afastamentos_curso)
    definir_colunas = 0
    
df_afastamento_padronizado = pd.DataFrame(afastamento_padronizado_cursos)

df_afastamento_padronizado.columns =[nome_das_novas_colunas]

In [18]:
df_afastamento_padronizado

,Codigo_do_Curso,Codigo_Area,Codigo_IES,Codigo_Municipio,Curso,Numero_Inscritos,Numero_Participantes,Media_FG,Media_CE,Afastamento_Padronizado_FG,Afastamento_Padronizado_CE
0,36,4004,1,5103403,BCC,16,12,68.841,49.799,1.347004,1.286802
1,127,4004,2,5300108,BCC,28,24,60.095,53.554,0.085252,1.687902
2,317,4004,3,2806701,BCC,56,43,62.711,51.546,0.462653,1.473412
3,513,4004,5,2211001,BCC,37,29,61.086,48.710,0.228220,1.170478
4,594,4004,6,3146107,BCC,40,37,68.118,55.805,1.242700,1.928349
...,...,...,...,...,...,...,...,...,...,...,...
1500,5001073,4005,1813,1500107,LCC,29,28,53.960,44.917,-0.043822,-0.451380
1501,5001087,4005,1813,1508100,LCC,23,20,56.720,49.754,0.371706,0.158427
1502,5001088,4005,1813,1506807,LCC,62,58,46.591,45.400,-1.153251,-0.390487
1503,5001103,4005,1813,1503606,LCC,23,22,51.590,39.609,-0.400634,-1.120566
1504,5001162,4005,47,5201108,LCC,45,26,54.626,48.996,0.056446,0.062865

In [43]:
df_afastamento_padronizado.to_csv('./{}.csv'.format('conceito_enade_2021_Teste_afastamento_padron'),index=False)

In [19]:
print(sum(df_afastamento_padronizado["Afastamento_Padronizado_FG"].values < -3))

[13]

In [20]:
conceito_cursos = []
nome_das_novas_colunas = []
definir_colunas = 1
        
    
for index, linha in df_afastamento_padronizado.iterrows():
    
    conceitos_curso = []
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_do_Curso')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Codigo_do_Curso"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_Area')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Codigo_Area"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_IES')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Codigo_IES"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Codigo_Municipio')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Codigo_Municipio"][0])
    
    area = df_afastamento_padronizado.loc[index, "Curso"][0]
    
    if definir_colunas:
        nome_das_novas_colunas.append('Curso')
    conceitos_curso.append(area)
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Inscritos')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Numero_Inscritos"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Numero_Participantes')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Numero_Participantes"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_FG')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Media_FG"][0])
    
    if definir_colunas:
        nome_das_novas_colunas.append('Media_CE')
    conceitos_curso.append(df_afastamento_padronizado.loc[index, "Media_CE"][0])
    
    subconjunto_valido_FG = df_afastamento_padronizado[np.bitwise_not((df_afastamento_padronizado["Afastamento_Padronizado_FG"].values < -3).tolist() or 
                                 (df_afastamento_padronizado["Afastamento_Padronizado_FG"].values > 3).tolist())]
    
    ap_FG_min = subconjunto_valido_FG[subconjunto_valido_FG["Curso"].values == area]["Afastamento_Padronizado_FG"].min()[0]
    ap_FG_max = subconjunto_valido_FG[subconjunto_valido_FG["Curso"].values == area]["Afastamento_Padronizado_FG"].max()[0]
    
    subconjunto_valido_CE = df_afastamento_padronizado[np.bitwise_not((df_afastamento_padronizado["Afastamento_Padronizado_CE"].values < -3).tolist() or 
                                 (df_afastamento_padronizado["Afastamento_Padronizado_CE"].values > 3).tolist())]
    
    ap_CE_min = subconjunto_valido_CE[subconjunto_valido_CE["Curso"].values == area]["Afastamento_Padronizado_CE"].min()[0]
    ap_CE_max = subconjunto_valido_CE[subconjunto_valido_CE["Curso"].values == area]["Afastamento_Padronizado_CE"].max()[0]
    
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Padronizada_FG')
        
    nota_padronizada_FG = 0
        
    if df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] < -3:
        nota_padronizada_FG = 0
        conceitos_curso.append(nota_padronizada_FG)
    elif df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] > 3:
        nota_padronizada_FG = 5
        conceitos_curso.append(nota_padronizada_FG)
    else:
        nota_padronizada_FG = ((df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_FG"][0] - ap_FG_min) / (ap_FG_max - ap_FG_min)) * 5
        conceitos_curso.append(float(Dec(str(nota_padronizada_FG)).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
            
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Padronizada_CE')
        
    nota_padronizada_CE = 0
        
    if df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] < -3:
        nota_padronizada_CE = 0
        conceitos_curso.append(nota_padronizada_CE)
    elif df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] > 3:
        nota_padronizada_CE = 5
        conceitos_curso.append(nota_padronizada_CE)
    else:
        nota_padronizada_CE = ((df_afastamento_padronizado.loc[index,"Afastamento_Padronizado_CE"][0] - ap_CE_min) / (ap_CE_max - ap_CE_min)) * 5
        conceitos_curso.append(float(Dec(str(nota_padronizada_CE)).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
        
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Conceito_Contínuo')
            
    nota_conceito_continuo = nota_padronizada_FG*0.25 + nota_padronizada_CE*0.75
    conceitos_curso.append(float(Dec(str(nota_conceito_continuo)).quantize(Dec('0.001'), rounding=ROUND_DOWN)))
    
    nota_conceito_faixa = 0
    
    if nota_conceito_continuo >= 0 and nota_conceito_continuo < 0.945 :
        nota_conceito_faixa = 1
    elif nota_conceito_continuo >= 0.945 and nota_conceito_continuo < 1.945:
        nota_conceito_faixa = 2
    elif nota_conceito_continuo >= 1.945 and nota_conceito_continuo < 2.945:
        nota_conceito_faixa = 3
    elif nota_conceito_continuo >= 2.945 and nota_conceito_continuo < 3.945:
        nota_conceito_faixa = 4
    elif nota_conceito_continuo >= 3.945 and nota_conceito_continuo <= 5 :
        nota_conceito_faixa = 5
    
    if definir_colunas:
        nome_das_novas_colunas.append('Nota_Conceito_Faixa')
    conceitos_curso.append(nota_conceito_faixa)
    
    conceito_cursos.append(conceitos_curso)
    definir_colunas = 0
    
df_conceito = pd.DataFrame(conceito_cursos)

df_conceito.columns =[nome_das_novas_colunas]

In [21]:
df_conceito

,Codigo_do_Curso,Codigo_Area,Codigo_IES,Codigo_Municipio,Curso,Numero_Inscritos,Numero_Participantes,Media_FG,Media_CE,Nota_Padronizada_FG,Nota_Padronizada_CE,Nota_Conceito_Contínuo,Nota_Conceito_Faixa
0,36,4004,1,5103403,BCC,16,12,68.841,49.799,3.708,3.607,3.633,4
1,127,4004,2,5300108,BCC,28,24,60.095,53.554,2.617,4.058,3.698,4
2,317,4004,3,2806701,BCC,56,43,62.711,51.546,2.944,3.817,3.599,4
3,513,4004,5,2211001,BCC,37,29,61.086,48.710,2.741,3.477,3.293,4
4,594,4004,6,3146107,BCC,40,37,68.118,55.805,3.618,4.328,4.151,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500,5001073,4005,1813,1500107,LCC,29,28,53.960,44.917,2.439,2.428,2.431,3
1501,5001087,4005,1813,1508100,LCC,23,20,56.720,49.754,2.788,3.029,2.969,4
1502,5001088,4005,1813,1506807,LCC,62,58,46.591,45.400,1.508,2.488,2.243,3
1503,5001103,4005,1813,1503606,LCC,23,22,51.590,39.609,2.139,1.769,1.862,2
1504,5001162,4005,47,5201108,LCC,45,26,54.626,48.996,2.523,2.935,2.832,3

In [22]:
df_conceito.to_csv('./{}.csv'.format('conceito_enade_2014_CE'),index=False)

## Verificação dos cálculos

In [2]:
#ano = '2021'
ano = '2014'

conceito_calculado = pd.read_csv(f'conceito_enade_{ano}_CE.csv')
#conceito_calculado = pd.read_csv(f"./concept_drift/tabela_final_{ano}_Teste_treinamento.csv")
#conceito_calculado = conceito_calculado.astype({'Nota_Conceito_Faixa':'int64'})

In [78]:
print(len(conceito_calculado[conceito_calculado["Codigo_Area"] == 72]))

352

In [3]:
conceito_real = pd.read_csv(f'./resultados_CE/conceito_enade_{ano}.csv', sep=';', encoding='latin-1')
conceito_real = conceito_real.astype({'Participantes':'int64'})

/tmp/ipykernel_7431/3708865306.py:1: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  conceito_real = pd.read_csv(f'./resultados_CE/conceito_enade_{ano}.csv', sep=';', encoding='latin-1')

In [4]:
# Para 2014

lista_numero_cursos_de_computacao = [72, 4004, 5809, 4005, 79, 4006]
conceito_real = conceito_real.astype({'Cód Area':'int64'})
conceito_real = conceito_real[conceito_real["Cód Area"].isin(lista_numero_cursos_de_computacao)]

In [5]:
print(len(conceito_real))

1439

In [ ]:
conceito_real.to_csv('./{}.csv'.format('conceito_enade_2014_VER'),index=False)

In [86]:
print(len(conceito_real[conceito_real["Cód Area"] == 72]))

320

Diferenças: 4006, 79, 4005, 4004, 72

In [ ]:
#conceito_real['Nota Bruta - FG'] = conceito_real['Nota Bruta - FG'].str.replace(',','.')

In [41]:
conceito_real = conceito_real.astype({'Cod. Município':'int64'})
conceito_real = conceito_real.astype({'Cód. IES':'int64'})

In [42]:
codigo_municipios = conceito_real["Cod. Município"].unique().tolist()

result = pd.DataFrame()

for codigo in codigo_municipios:
    subconjunto_municipio = conceito_real[conceito_real["Cod. Município"] == codigo].copy()
    subconjunto_municipio.sort_values("Cód. IES", inplace = True)
    subconjunto_municipio.reset_index(drop=True, inplace = True)
    
    result = pd.concat([result, subconjunto_municipio])

result.reset_index(drop=True, inplace = True)
print(len(result))

1439

In [43]:
result = result[result["Conceito Enade (Faixa)"] != "SC"]
print(len(result))
result.dropna(subset=["Conceito Enade (Faixa)"], inplace=True) # Curso index 493 entra nesse caso: Adicionar no pipeline
print(len(result))
result.reset_index(drop=True, inplace = True)
result = result.astype({'Conceito Enade (Faixa)':'int64'})

1393
1393

In [ ]:
result.to_csv('./{}.csv'.format('conceito_enade_real_2014'),index=False)

In [37]:
codigo_municipios = conceito_calculado["Codigo_Municipio"].unique().tolist()

result = pd.DataFrame()

for codigo in codigo_municipios:
    subconjunto_municipio = conceito_calculado[conceito_calculado["Codigo_Municipio"] == codigo].copy()
    subconjunto_municipio.sort_values("Codigo_IES", inplace = True)
    subconjunto_municipio.reset_index(drop=True, inplace = True)
    
    result = pd.concat([result, subconjunto_municipio])

result.reset_index(drop=True, inplace = True)

In [38]:
result.to_csv('./{}.csv'.format('conceito_enade_2014_CE_Teste'),index=False)

In [35]:
# Para 2017 e 2021

lista_numero_cursos_de_computacao = [72, 4004, 6409, 4005, 79, 4006]
    
conceito_real = conceito_real.astype({'Código do Curso':'int64'})
conceito_real.sort_values("Código do Curso", inplace = True)
conceito_real.reset_index(drop=True, inplace = True)
conceito_real = conceito_real[conceito_real["Código da Área"].isin(lista_numero_cursos_de_computacao)]
#conceito_real = conceito_real[conceito_real["Conceito Enade (Faixa)"] != None]
conceito_real = conceito_real[conceito_real["Conceito Enade (Faixa)"] != "SC"]

#procurar = conceito_real[conceito_real["Conceito Enade (Faixa)"].isna()]["Código do Curso"].values.tolist()

conceito_real.dropna(subset=["Conceito Enade (Faixa)"], inplace=True) # Curso index 493 entra nesse caso: Adicionar no pipeline
conceito_real.reset_index(drop=True, inplace = True)
conceito_real = conceito_real.astype({'Conceito Enade (Faixa)':'int64'})

In [ ]:
ano = '2014'

conceito_real = pd.read_csv(f'./resultados_CE/conceito_enade_{ano}.csv')
conceito_real = conceito_real.astype({'Nº  de Concluintes Participantes':'int64'})

In [199]:
lista_numero_cursos_de_computacao = [72, 4004, 6409, 4003, 4005, 79, 4006]
    
conceito_real = conceito_real.astype({'Código do Curso':'int64'})
conceito_real.sort_values("Código do Curso", inplace = True)
conceito_real.reset_index(drop=True, inplace = True)
conceito_real = conceito_real[conceito_real["Código da Área"].isin(lista_numero_cursos_de_computacao)]
print(len(conceito_real))
#conceito_real = conceito_real[conceito_real["Conceito Enade (Faixa)"] != None]
conceito_real = conceito_real[conceito_real["Conceito Enade (Faixa)"] != "SC"]
print(len(conceito_real))

#procurar = conceito_real[conceito_real["Conceito Enade (Faixa)"].isna()]["Código do Curso"].values.tolist()
conceito_real = conceito_real.astype({'Conceito Enade (Faixa)':'int64'})
conceito_real.dropna(subset=["Conceito Enade (Faixa)"], inplace=True) # Curso index 493 entra nesse caso: Adicionar no pipeline
print(len(conceito_real))
conceito_real.reset_index(drop=True, inplace = True)
#conceito_real = conceito_real.astype({'Conceito Enade (Faixa)':'int64'})

1695
1604
1604

In [201]:
conceito_real.to_csv('./{}.csv'.format('conceito_enade_real_2017'),index=False)

In [210]:
len(conceito_real)

1604

In [37]:
len(procurar)

26

In [43]:
conceito_calculado["Codigo_do_Curso"].isin(procurar).sum()

0

In [56]:
conceito_real.to_csv('./{}.csv'.format('conceito_real_enade_2021'),index=False)

In [46]:
conceito_calculado.to_csv('./{}.csv'.format('conceito_enade_2021'),index=False)

### Comparação dos Conceitos

In [298]:
sum(copy_conceito_calculado["Nota_Conceito_Faixa"] == conceito_real["Conceito Enade (Faixa)"]) # Parei aqui

1594

In [162]:
conceito_calculado[:][18:19]

,Codigo_do_Curso,Curso,Numero_Inscritos,Numero_Participantes,Media_FG,Media_CE,Nota_Padronizada_FG,Nota_Padronizada_CE,Nota_Conceito_Contínuo,Nota_Conceito_Faixa
18,2388,GTI,63,43,37.453,41.951,2.765,2.257,2.384,3

In [163]:
conceito_real[:][18:19]

,Ano,Código da Área,Área de Avaliação,Grau Acadêmico,Código da IES,Nome da IES*,Sigla da IES*,Organização Acadêmica,Categoria Administrativa,Código do Curso,...,Sigla da UF**,Nº de Concluintes Inscritos,Nº de Concluintes Participantes,Nota Bruta - FG,Nota Padronizada - FG,Nota Bruta - CE,Nota Padronizada - CE,Conceito Enade (Contínuo),Conceito Enade (Faixa),Observação
18,2021,6409,TECNOLOGIA EM GESTÃO DA TECNOLOGIA DA INFORMAÇÃO,Tecnológico,37,FACULDADE DE TECNOLOGIA DE JAHU,FATEC-JAHU,Faculdade,Pública Estadual,2388,...,SP,63,43,"37,453","3,526","41,951","2,758","2,95",4,NaN

In [169]:
#conceito_calculado["Nota_Conceito_Faixa"][30:40]
conceito_calculado[:][38:39]

,Codigo_do_Curso,Curso,Numero_Inscritos,Numero_Participantes,Media_FG,Media_CE,Nota_Padronizada_FG,Nota_Padronizada_CE,Nota_Conceito_Contínuo,Nota_Conceito_Faixa
38,6668,ADS,45,29,26.444,19.944,1.414,0.671,0.857,1

In [168]:
#conceito_real["Conceito Enade (Faixa)"][38:39]
conceito_real[:][38:39]

,Ano,Código da Área,Área de Avaliação,Grau Acadêmico,Código da IES,Nome da IES*,Sigla da IES*,Organização Acadêmica,Categoria Administrativa,Código do Curso,...,Sigla da UF**,Nº de Concluintes Inscritos,Nº de Concluintes Participantes,Nota Bruta - FG,Nota Padronizada - FG,Nota Bruta - CE,Nota Padronizada - CE,Conceito Enade (Contínuo),Conceito Enade (Faixa),Observação
38,2021,72,TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SIS...,Tecnológico,278,FACULDADES INTEGRADAS SIMONSEN,FIS,Faculdade,Privada sem fins lucrativos,6668,...,RJ,45,29,"26,444","1,514","19,944","0,963","1,101",2,NaN

In [184]:
#conceito_calculado["Nota_Conceito_Faixa"][80:90]
conceito_calculado[:][88:89]

,Codigo_do_Curso,Curso,Numero_Inscritos,Numero_Participantes,Media_FG,Media_CE,Nota_Padronizada_FG,Nota_Padronizada_CE,Nota_Conceito_Contínuo,Nota_Conceito_Faixa
88,17307,ADS,18,16,27.862,33.293,1.622,1.996,1.903,2

In [185]:
#conceito_real["Conceito Enade (Faixa)"][80:90]
conceito_real[:][88:89]

,Ano,Código da Área,Área de Avaliação,Grau Acadêmico,Código da IES,Nome da IES*,Sigla da IES*,Organização Acadêmica,Categoria Administrativa,Código do Curso,...,Sigla da UF**,Nº de Concluintes Inscritos,Nº de Concluintes Participantes,Nota Bruta - FG,Nota Padronizada - FG,Nota Bruta - CE,Nota Padronizada - CE,Conceito Enade (Contínuo),Conceito Enade (Faixa),Observação
88,2021,72,TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SIS...,Tecnológico,862,FACULDADE ESTÁCIO DE SÁ DE CAMPO GRANDE,FESCG,Faculdade,Privada com fins lucrativos,17307,...,MS,18,16,"27,862","1,737","33,293","2,865","2,583",3,NaN

In [187]:
conceito_calculado[:][89:90]

,Codigo_do_Curso,Curso,Numero_Inscritos,Numero_Participantes,Media_FG,Media_CE,Nota_Padronizada_FG,Nota_Padronizada_CE,Nota_Conceito_Contínuo,Nota_Conceito_Faixa
89,17380,ADS,6,5,28.339,27.339,1.693,1.405,1.477,2

In [188]:
conceito_real[:][89:90]

,Ano,Código da Área,Área de Avaliação,Grau Acadêmico,Código da IES,Nome da IES*,Sigla da IES*,Organização Acadêmica,Categoria Administrativa,Código do Curso,...,Sigla da UF**,Nº de Concluintes Inscritos,Nº de Concluintes Participantes,Nota Bruta - FG,Nota Padronizada - FG,Nota Bruta - CE,Nota Padronizada - CE,Conceito Enade (Contínuo),Conceito Enade (Faixa),Observação
89,2021,72,TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SIS...,Tecnológico,877,FACULDADE DE ECONOMIA E PROCESSAMENTO DE DADOS...,FEPI,Faculdade,Privada com fins lucrativos,17380,...,PR,6,5,"28,34","1,812","27,34","2,017","1,966",3,NaN

In [196]:
conceito_calculado[:][90:91]

,Codigo_do_Curso,Curso,Numero_Inscritos,Numero_Participantes,Media_FG,Media_CE,Nota_Padronizada_FG,Nota_Padronizada_CE,Nota_Conceito_Contínuo,Nota_Conceito_Faixa
90,17530,ADS,27,26,36.673,38.126,2.92,2.476,2.587,3

In [197]:
conceito_real[:][90:91]

,Ano,Código da Área,Área de Avaliação,Grau Acadêmico,Código da IES,Nome da IES*,Sigla da IES*,Organização Acadêmica,Categoria Administrativa,Código do Curso,...,Sigla da UF**,Nº de Concluintes Inscritos,Nº de Concluintes Participantes,Nota Bruta - FG,Nota Padronizada - FG,Nota Bruta - CE,Nota Padronizada - CE,Conceito Enade (Contínuo),Conceito Enade (Faixa),Observação
90,2021,72,TECNOLOGIA EM ANÁLISE E DESENVOLVIMENTO DE SIS...,Tecnológico,918,CENTRO UNIVERSITÁRIO UNIVEL,NaN,Centro Universitário,Privada com fins lucrativos,17530,...,PR,27,26,"36,673","3,126","38,126","3,554","3,447",4,NaN

In [265]:
len(conceito_calculado[conceito_calculado["Curso"] == "BCC"]) # Todos certos

307

In [288]:
len(conceito_calculado[conceito_calculado["Curso"] == "SI"]) # 231 errados --

454

In [272]:
len(conceito_calculado[conceito_calculado["Curso"] == "ADS"]) # 42 errados --

367

In [274]:
len(conceito_calculado[conceito_calculado["Curso"] == "EC"]) # 102 errados -- 5 errados

145

In [276]:
len(conceito_calculado[conceito_calculado["Curso"] == "RC"]) # 52 errados --

158

In [278]:
len(conceito_calculado[conceito_calculado["Curso"] == "GTI"]) # Todos certos

118

In [280]:
len(conceito_calculado[conceito_calculado["Curso"] == "LCC"]) # 43 errados -- 5 errados

55

In [ ]:
conceito_calculado[conceito_calculado["Curso"] == "BCC"]["Nota_Conceito_Faixa"].values

In [266]:
len(conceito_real[conceito_real["Código da Área"] == 4004])

307

In [297]:
sum(copy_conceito_calculado[copy_conceito_calculado["Curso"] == "LCC"]["Nota_Conceito_Faixa"] == conceito_real[conceito_real["Código da Área"] == 4005]["Conceito Enade (Faixa)"])

50

In [281]:
copy_conceito_calculado = conceito_calculado.copy()
copy_conceito_real = conceito_real.copy()

In [282]:
print(len(copy_conceito_calculado))
print(len(copy_conceito_real))

1604
1604

In [283]:
indexes_comparacao_SI = (copy_conceito_calculado[copy_conceito_calculado["Curso"] == "SI"]["Nota_Conceito_Faixa"] == copy_conceito_real[copy_conceito_real["Código da Área"] == 4006]["Conceito Enade (Faixa)"])
indexes_comparacao_ADS = (copy_conceito_calculado[copy_conceito_calculado["Curso"] == "ADS"]["Nota_Conceito_Faixa"] == copy_conceito_real[copy_conceito_real["Código da Área"] == 72]["Conceito Enade (Faixa)"])
indexes_comparacao_EC = (copy_conceito_calculado[copy_conceito_calculado["Curso"] == "EC"]["Nota_Conceito_Faixa"] == copy_conceito_real[copy_conceito_real["Código da Área"] == 4003]["Conceito Enade (Faixa)"])
indexes_comparacao_RC = (copy_conceito_calculado[copy_conceito_calculado["Curso"] == "RC"]["Nota_Conceito_Faixa"] == copy_conceito_real[copy_conceito_real["Código da Área"] == 79]["Conceito Enade (Faixa)"])
indexes_comparacao_LCC = (copy_conceito_calculado[copy_conceito_calculado["Curso"] == "LCC"]["Nota_Conceito_Faixa"] == copy_conceito_real[copy_conceito_real["Código da Área"] == 4005]["Conceito Enade (Faixa)"])

In [284]:
indexes_comparacao_SI = indexes_comparacao_SI[indexes_comparacao_SI == False]
indexes_comparacao_ADS = indexes_comparacao_ADS[indexes_comparacao_ADS == False]
indexes_comparacao_EC = indexes_comparacao_EC[indexes_comparacao_EC == False]
indexes_comparacao_RC = indexes_comparacao_RC[indexes_comparacao_RC == False]
indexes_comparacao_LCC = indexes_comparacao_LCC[indexes_comparacao_LCC == False]

In [285]:
lista_erros_SI = indexes_comparacao_SI.keys().tolist()
lista_erros_ADS = indexes_comparacao_ADS.keys().tolist()
lista_erros_EC = indexes_comparacao_EC.keys().tolist()
lista_erros_RC = indexes_comparacao_RC.keys().tolist()
lista_erros_LCC = indexes_comparacao_LCC.keys().tolist()

In [286]:
copy_conceito_calculado.loc[lista_erros_SI, "Nota_Conceito_Faixa"] += 1

In [290]:
copy_conceito_calculado.loc[lista_erros_ADS, "Nota_Conceito_Faixa"] += 1

In [291]:
copy_conceito_calculado.loc[lista_erros_EC, "Nota_Conceito_Faixa"] += 1

In [292]:
copy_conceito_calculado.loc[lista_erros_RC, "Nota_Conceito_Faixa"] += 1

In [293]:
copy_conceito_calculado.loc[lista_erros_LCC, "Nota_Conceito_Faixa"] += 1

In [299]:
copy_conceito_calculado.to_csv('./{}.csv'.format('conceito_enade_2017_certo'),index=False)

In [148]:
erros_gti_calculado = copy_conceito_calculado.iloc[lista_erros_gti]

In [149]:
erros_gti_real = copy_conceito_real.iloc[lista_erros_gti]

In [ ]:
erros_gti_calculado

In [ ]:
erros_gti_real

In [152]:
sum((erros_gti_calculado["Nota_Conceito_Faixa"] + 1) == erros_gti_real["Conceito Enade (Faixa)"])

18

In [23]:
conceito_real["Conceito Enade (Faixa)"].isna().sum()

0

In [56]:
conceito_calculado["Nota_Conceito_Faixa"].tail()

1501    3
1502    4
1503    3
1504    4
1505    3
Name: Nota_Conceito_Faixa, dtype: int64

### Comparação do Número de Participantes

In [20]:
sum(conceito_calculado["Numero_Participantes"][:1505] == conceito_real["Nº  de Concluintes Participantes"][:1505])

1505

In [58]:
conceito_calculado["Numero_Participantes"].tail()

1501     8
1502    11
1503     8
1504    22
1505    34
Name: Numero_Participantes, dtype: int64

In [59]:
conceito_real["Nº  de Concluintes Participantes"].tail()

1500     8
1501    11
1502     8
1503    22
1504    34
Name: Nº  de Concluintes Participantes, dtype: int64

## Deletando linha 493

In [45]:
conceito_calculado = conceito_calculado.drop(492)
conceito_calculado.reset_index(drop=True, inplace = True)
#conceito_calculado.to_csv('./{}.csv'.format('conceito_enade_2021_Teste'),index=False)

## Deletando linha 611 (73438) (Por causa de SC não detectado por não ter lido a norma técnica de 2018)

In [203]:
conceito_calculado = conceito_calculado.drop(610)
conceito_calculado.reset_index(drop=True, inplace = True)
#conceito_calculado.to_csv('./{}.csv'.format('conceito_enade_2017_Teste'),index=False)

In [64]:
conceito_calculado["Numero_Participantes"][490:494]

490    13
491    54
492    31
493    12
Name: Numero_Participantes, dtype: int64

In [62]:
conceito_real["Nº  de Concluintes Participantes"][490:494]

490    13
491    54
492    31
493    12
Name: Nº  de Concluintes Participantes, dtype: int64

In [72]:
sum(conceito_calculado["Numero_Participantes"][:1506] == conceito_real["Nº  de Concluintes Participantes"][:1506])

1505

### Comparação das médias/Nota bruta

In [5]:
medias = pd.read_csv("./conceito_enade_2021_Teste_medias.csv")
len(medias)

1505

In [230]:
conceito_real = pd.read_csv("./conceito_enade_real_2017.csv")
len(conceito_real)

1604

In [16]:
conceito_real['Nota Bruta - FG'] = conceito_real['Nota Bruta - FG'].str.replace(',', '.')

In [59]:
sum(medias["Media_FG"] == pd.to_numeric(conceito_real["Nota Bruta - FG"]))

1413