In [1]:
import pandas as pd
import os, shutil

In [ ]:
for i in range(43):
    j = i + 1
    origin = f'dados_2021/microdados2021_arq{j}.txt'
    destine = f'dados_21_csv/arq{j}.csv'
    file = pd.read_csv(origin, sep=';')
    file.to_csv(destine, index = None)

In [2]:
arq1 = pd.read_csv('dados_21_csv/arq1.csv')

In [ ]:
arq1

In [3]:
col1 = arq1.pop("CO_CURSO")  # Muda "CO_CURSO" em arq1 para primeira posição
arq1.insert(0, col1.name, col1)

In [ ]:
filesID = [2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 21, 23, 24, 28, 29]

In [ ]:
# Move os arquivos desejados para a pasta dados_21_Atributos

for i in filesID:
    original = f'dados_21_csv/arq{i}.csv'
    target = f'dados_21_Atributos/arq{i}.csv'
    shutil.copyfile(original, target)

In [ ]:
# Move a coluna CO_CURSO para a primeira posição e ordena os arquivos
# por esse atributo. 

# Manda os arquivos ajustados para pasta dados_21_Ajustado

for i in filesID:
    arq = pd.read_csv(f'dados_21_Atributos/arq{i}.csv')
    col = arq.pop("CO_CURSO")       
    arq.insert(0, col.name, col)
    arqSorted = arq.sort_values('CO_CURSO')
    arqSorted = arqSorted.reset_index(drop=True) 
    arqSorted.to_csv('dados_21_Ajustado/{}.csv'.format(f'arq{i}'),index=False)

In [4]:
arq2 = pd.read_csv('dados_21_Ajustado/arq2.csv')
arq3 = pd.read_csv('dados_21_Ajustado/arq3.csv')
arq4 = pd.read_csv('dados_21_Ajustado/arq4.csv')
arq5 = pd.read_csv('dados_21_Ajustado/arq5.csv')
arq6 = pd.read_csv('dados_21_Ajustado/arq6.csv')
arq7 = pd.read_csv('dados_21_Ajustado/arq7.csv')
arq8 = pd.read_csv('dados_21_Ajustado/arq8.csv')
arq10 = pd.read_csv('dados_21_Ajustado/arq10.csv')
arq11 = pd.read_csv('dados_21_Ajustado/arq11.csv')
arq12 = pd.read_csv('dados_21_Ajustado/arq12.csv')
arq13 = pd.read_csv('dados_21_Ajustado/arq13.csv')
arq14 = pd.read_csv('dados_21_Ajustado/arq14.csv')
arq16 = pd.read_csv('dados_21_Ajustado/arq16.csv')
arq21 = pd.read_csv('dados_21_Ajustado/arq21.csv')
arq23 = pd.read_csv('dados_21_Ajustado/arq23.csv')
arq24 = pd.read_csv('dados_21_Ajustado/arq24.csv')
arq28 = pd.read_csv('dados_21_Ajustado/arq28.csv')
arq29 = pd.read_csv('dados_21_Ajustado/arq29.csv')

In [5]:
concat1_all = pd.concat([arq1, arq2, arq3, arq4, arq5, arq6, arq7, arq8, arq10, arq11, arq12, arq13, arq14, arq16, arq21, arq23, arq24, arq28, arq29], axis=1)  # Concatena o arquivo arq1 com os outros

In [ ]:
concat1_all

In [6]:
remDuplic = concat1_all.loc[:,~concat1_all.columns.duplicated()]   # Remove as colunas duplicadas da concatenação

In [ ]:
remDuplic

In [7]:
# "TP_PRES", "TP_PR_GER", "TP_PR_OB_FG", "TP_PR_DI_FG", "TP_PR_OB_CE", "TP_PR_DI_CE"

selecAtr = remDuplic[["NU_ANO", "CO_GRUPO", "CO_UF_CURSO", "CO_REGIAO_CURSO", "CO_CATEGAD", "CO_ORGACAD", "CO_TURNO_GRADUACAO", "NT_GER", "ANO_FIM_EM", "ANO_IN_GRAD", "QE_I17", "QE_I18", "NU_IDADE", "TP_SEXO", "QE_I02", "QE_I01", "QE_I04", "QE_I05", "QE_I08", "QE_I06", "QE_I07", "QE_I15", "QE_I10", "QE_I22", "QE_I23", "QE_I61", "QE_I62", "QE_I38", "QE_I27"]]

In [ ]:
selecAtr

In [8]:
computerCourses = selecAtr[selecAtr["CO_GRUPO"].isin([72, 4004, 6409, 4005, 79, 4006])]

In [ ]:
computerCourses

In [ ]:
# validData = computerCourses.query('TP_PRES == 555 & TP_PR_GER == 555 & TP_PR_OB_FG == 555 & TP_PR_DI_FG == 555 & TP_PR_OB_CE == 555 & TP_PR_DI_CE == 555')

In [ ]:
# validData

In [ ]:
# validData.drop(columns=['TP_PRES','TP_PR_GER', 'TP_PR_OB_FG', 'TP_PR_DI_FG', 'TP_PR_OB_CE', 'TP_PR_DI_CE'],inplace=True)

In [9]:
reindexData = computerCourses.reset_index(drop=True)

In [11]:
reindexData

,NU_ANO,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,ANO_IN_GRAD,...,QE_I06,QE_I07,QE_I15,QE_I10,QE_I22,QE_I23,QE_I61,QE_I62,QE_I38,QE_I27
0,2021,4004,51,5,1,10028,3.0,26.9,2017.0,2018.0,...,B,B,B,A,E,A,6.0,6.0,6.0,6.0
1,2021,4004,51,5,1,10028,3.0,17.2,2015.0,2016.0,...,D,C,A,D,NaN,C,6.0,5.0,4.0,4.0
2,2021,4004,51,5,1,10028,3.0,43.9,2014.0,2015.0,...,B,A,A,A,A,C,4.0,4.0,4.0,4.0
3,2021,4004,51,5,1,10028,3.0,40.7,2014.0,2015.0,...,B,C,A,A,B,D,NaN,NaN,NaN,NaN
4,2021,4004,51,5,1,10028,3.0,21.7,2017.0,2018.0,...,B,F,A,E,NaN,B,2.0,1.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62026,2021,72,26,2,5,10022,4.0,18.9,2003.0,2019.0,...,B,A,A,E,E,B,6.0,6.0,1.0,2.0
62027,2021,72,26,2,5,10022,4.0,20.1,2008.0,2020.0,...,B,C,A,E,C,B,6.0,6.0,6.0,5.0
62028,2021,72,26,2,5,10022,4.0,18.9,2007.0,2019.0,...,B,D,A,E,C,D,4.0,4.0,3.0,3.0
62029,2021,72,26,2,5,10022,4.0,27.1,2016.0,2019.0,...,B,E,A,E,B,C,5.0,6.0,4.0,3.0
62030,2021,72,42,4,5,10022,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
reindexData.to_csv('./{}.csv'.format('computacao_enade_2021'),index=False)

In [ ]:
# Para limpar o conteúdo de uma pasta

folder = './dados_21_Ajustado'
for filename in os.listdir(folder):
    file_path = os.path.join(folder, filename)
    try:
        if os.path.isfile(file_path) or os.path.islink(file_path):
            os.unlink(file_path)
        elif os.path.isdir(file_path):
            shutil.rmtree(file_path)
    except Exception as e:
        print('Failed to delete %s. Reason: %s' % (file_path, e))