In [1]:
import pandas as pd
import os, shutil

In [ ]:
for i in range(42):
    j = i + 1
    origin = f'dados_2014/microdados2014_arq{j}.txt'
    destine = f'dados_14_csv/arq{j}.csv'
    file = pd.read_csv(origin, sep=';')
    file.to_csv(destine, index = None)

In [3]:
arq1 = pd.read_csv('dados_14_csv/arq1.csv')

/tmp/ipykernel_7373/1833451029.py:1: DtypeWarning: Columns (1,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  arq1 = pd.read_csv('dados_14_csv/arq1.csv')

In [6]:
arq1

,CO_CURSO,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO
0,10,2014,1,1,10028,6405,1,5103403,51,5
1,10,2014,1,1,10028,6405,1,5103403,51,5
2,10,2014,1,1,10028,6405,1,5103403,51,5
3,10,2014,1,1,10028,6405,1,5103403,51,5
4,10,2014,1,1,10028,6405,1,5103403,51,5
...,...,...,...,...,...,...,...,...,...,...
481690,99978,2014,2010,4,10022,79,1,3552205,35,3
481691,99978,2014,2010,4,10022,79,1,3552205,35,3
481692,99978,2014,2010,4,10022,79,1,3552205,35,3
481693,99978,2014,2010,4,10022,79,1,3552205,35,3
481694,99978,2014,2010,4,10022,79,1,3552205,35,3

In [5]:
col1 = arq1.pop('CO_CURSO')       # Muda "CO_CURSO" em arq1 para primeira posição
arq1.insert(0, col1.name, col1)
arq1.drop(arq1[arq1['CO_CURSO'] == 'DJ1'].index, inplace = True)

In [7]:
filesID = [2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 21, 23, 24, 28, 29]

In [ ]:
# Move os arquivos desejados para a pasta dados_14_Atributos

for i in filesID:
    original = f'dados_14_csv/arq{i}.csv'
    target = f'dados_14_Atributos/arq{i}.csv'
    shutil.copyfile(original, target)

In [ ]:
# CO_CURSO em 2014 tem valores 'DJ1'. Isso impede de transformar para inteiro e ordenar

# arq2 = pd.read_csv('dados_14_csv/arq2.csv')

# arq2[arq2['CO_CURSO'].astype(str).str.contains("DJ1")]

# dj1_values = arq2[arq2['CO_CURSO'] == 'DJ1']
# dj1_values

# origin = 'dados_2014/microdados2014_arq1.txt'
# destine = 'dados_14_csv/arq1.csv'
# file = pd.read_csv(origin, sep=';')
# file.to_csv(destine, index = None)

In [ ]:
# Em 2014, os valores de CO_CURSO são strings
# Devemos transformar para inteiros para ordená-los

#arq2['CO_CURSO'].dtype
#arq2['CO_CURSO'] = arq1['CO_CURSO'].str.strip()
#arq2 = arq2.astype({'CO_CURSO':float})
#arq2 = arq2.astype({'CO_CURSO':int})
#arq2['CO_CURSO'].dtype

In [16]:
# Move a coluna CO_CURSO para a primeira posição e ordena os arquivos
# por esse atributo. 

# Manda os arquivos ajustados para pasta dados_21_Ajustado

for i in filesID:
    arq = pd.read_csv(f'dados_14_Atributos/arq{i}.csv')
    col = arq.pop("CO_CURSO")       
    arq.insert(0, col.name, col)
    arq.drop(arq[arq['CO_CURSO'] == 'DJ1'].index, inplace = True) # Remove linhas com CO_CURSO = DJ1
    arq = arq.astype({'CO_CURSO':'int'}) # Converte os valores de CO_CURSO para inteiro para poder ordená-los
    arqSorted = arq.sort_values("CO_CURSO")
    arqSorted = arqSorted.reset_index(drop=True) 
    arqSorted.to_csv('dados_14_Ajustado/{}.csv'.format(f'arq{i}'),index=False)

/tmp/ipykernel_7373/3595602954.py:7: DtypeWarning: Columns (1,12,14,15,43,44,45,46,47,48,49,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  arq = pd.read_csv(f'dados_14_Atributos/arq{i}.csv')
/tmp/ipykernel_7373/3595602954.py:7: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  arq = pd.read_csv(f'dados_14_Atributos/arq{i}.csv')

In [17]:
arq2 = pd.read_csv('dados_14_Ajustado/arq2.csv')
arq3 = pd.read_csv('dados_14_Ajustado/arq3.csv')
arq4 = pd.read_csv('dados_14_Ajustado/arq4.csv')
arq5 = pd.read_csv('dados_14_Ajustado/arq5.csv')
arq6 = pd.read_csv('dados_14_Ajustado/arq6.csv')
arq7 = pd.read_csv('dados_14_Ajustado/arq7.csv')
arq8 = pd.read_csv('dados_14_Ajustado/arq8.csv')
arq10 = pd.read_csv('dados_14_Ajustado/arq10.csv')
arq11 = pd.read_csv('dados_14_Ajustado/arq11.csv')
arq12 = pd.read_csv('dados_14_Ajustado/arq12.csv')
arq13 = pd.read_csv('dados_14_Ajustado/arq13.csv')
arq14 = pd.read_csv('dados_14_Ajustado/arq14.csv')
arq16 = pd.read_csv('dados_14_Ajustado/arq16.csv')
arq21 = pd.read_csv('dados_14_Ajustado/arq21.csv')
arq23 = pd.read_csv('dados_14_Ajustado/arq23.csv')
arq24 = pd.read_csv('dados_14_Ajustado/arq24.csv')
arq28 = pd.read_csv('dados_14_Ajustado/arq28.csv')
arq29 = pd.read_csv('dados_14_Ajustado/arq29.csv')

In [18]:
concat1_all = pd.concat([arq1, arq2, arq3, arq4, arq5, arq6, arq7, arq8, arq10, arq11, arq12, arq13, arq14, arq16, arq21, arq23, arq24, arq28, arq29], axis=1)  # Concatena o arquivo arq1 com os outros

In [19]:
concat1_all

,CO_CURSO,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I17,CO_CURSO,NU_ANO,QE_I18,CO_CURSO,NU_ANO,QE_I22,CO_CURSO,NU_ANO,QE_I23
0,10,2014,1,1,10028,6405,1,5103403,51,5,...,B,3,2014,A,3,2014,A,3,2014,D
1,10,2014,1,1,10028,6405,1,5103403,51,5,...,B,3,2014,A,3,2014,A,3,2014,C
2,10,2014,1,1,10028,6405,1,5103403,51,5,...,B,3,2014,B,3,2014,B,3,2014,C
3,10,2014,1,1,10028,6405,1,5103403,51,5,...,B,3,2014,B,3,2014,C,3,2014,B
4,10,2014,1,1,10028,6405,1,5103403,51,5,...,B,3,2014,A,3,2014,E,3,2014,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481690,99978,2014,2010,4,10022,79,1,3552205,35,3,...,A,5001162,2014,D,5001162,2014,B,5001162,2014,B
481691,99978,2014,2010,4,10022,79,1,3552205,35,3,...,A,5001162,2014,A,5001162,2014,C,5001162,2014,C
481692,99978,2014,2010,4,10022,79,1,3552205,35,3,...,A,5001162,2014,A,5001162,2014,B,5001162,2014,C
481693,99978,2014,2010,4,10022,79,1,3552205,35,3,...,A,5001162,2014,B,5001162,2014,B,5001162,2014,A
481694,99978,2014,2010,4,10022,79,1,3552205,35,3,...,NaN,5001162,2014,NaN,5001162,2014,NaN,5001162,2014,NaN

In [20]:
remDuplic = concat1_all.loc[:,~concat1_all.columns.duplicated()]   # Remove as colunas duplicadas da concatenação

In [ ]:
remDuplic

In [21]:
# "TP_PRES", "TP_PR_GER", "TP_PR_OB_FG", "TP_PR_DI_FG", "TP_PR_OB_CE", "TP_PR_DI_CE"

selecAtr = remDuplic[["NU_ANO", "CO_GRUPO", "CO_UF_CURSO", "CO_REGIAO_CURSO", "CO_CATEGAD", "CO_ORGACAD", "IN_MATUT", "IN_VESPER", "IN_NOTURNO", "NT_GER", "ANO_FIM_EM", "ANO_IN_GRAD", "QE_I17", "QE_I18", "NU_IDADE", "TP_SEXO", "QE_I02", "QE_I01", "QE_I04", "QE_I05", "QE_I08", "QE_I06", "QE_I07", "QE_I15", "QE_I10", "QE_I22", "QE_I23", "QE_I61", "QE_I62", "QE_I38", "QE_I27"]]

In [ ]:
selecAtr

In [22]:
computerCourses = selecAtr[selecAtr["CO_GRUPO"].isin([72, 4004, 5809, 4005, 79, 4006])]

In [ ]:
computerCourses

In [ ]:
# validData = computerCourses.query('TP_PRES == 555 & TP_PR_GER == 555 & TP_PR_OB_FG == 555 & TP_PR_DI_FG == 555 & TP_PR_OB_CE == 555 & TP_PR_DI_CE == 555')

In [ ]:
# validData

In [ ]:
# validData.drop(columns=['TP_PRES','TP_PR_GER', 'TP_PR_OB_FG', 'TP_PR_DI_FG', 'TP_PR_OB_CE', 'TP_PR_DI_CE'],inplace=True)

In [23]:
reindexData = computerCourses.reset_index(drop=True)

In [ ]:
reindexData

In [24]:
reindexData.to_csv('./{}.csv'.format('computacao_enade_2014'),index=False)

In [ ]:
# Para limpar o conteúdo de uma pasta

folder = './dados_14_Ajustado'
for filename in os.listdir(folder):
    file_path = os.path.join(folder, filename)
    try:
        if os.path.isfile(file_path) or os.path.islink(file_path):
            os.unlink(file_path)
        elif os.path.isdir(file_path):
            shutil.rmtree(file_path)
    except Exception as e:
        print('Failed to delete %s. Reason: %s' % (file_path, e))