In [2]:
import pandas as pd

# 2014 - 2017

In [ ]:
for i in range(43):
    j = i + 1
    origin = f'dados_21/microdados2021_arq{j}.txt'
    destine = f'dados_21csv/arq{j}.csv'
    file = pd.read_csv(origin, sep=';')
    file.to_csv(destine, index = None)

In [5]:
arq1 = pd.read_csv('dados_21_csv/arq1.csv')

In [15]:
arq1

,CO_CURSO,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO
0,6,2021,1,1,10028,2001,1,5103403,51,5
1,6,2021,1,1,10028,2001,1,5103403,51,5
2,6,2021,1,1,10028,2001,1,5103403,51,5
3,6,2021,1,1,10028,2001,1,5103403,51,5
4,6,2021,1,1,10028,2001,1,5103403,51,5
...,...,...,...,...,...,...,...,...,...,...
489861,5001459,2021,3996,5,10022,72,1,2611606,26,2
489862,5001459,2021,3996,5,10022,72,1,2611606,26,2
489863,5001459,2021,3996,5,10022,72,1,2611606,26,2
489864,5001459,2021,3996,5,10022,72,1,2611606,26,2
489865,5001487,2021,3948,5,10022,72,1,4209102,42,4

In [6]:
col1 = arq1.pop("CO_CURSO")       # Muda "CO_CURSO" em arq1 para primeira posição
arq1.insert(0, col1.name, col1)

In [17]:
filesID = [2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 23, 24, 28, 29]
for i in filesID:
    arq = pd.read_csv(f'dados_21_Atributos/arq{i}.csv')
    col = arq.pop("CO_CURSO")       
    arq.insert(0, col.name, col)
    arqSorted = arq.sort_values('CO_CURSO')
    arqSorted = arqSorted.reset_index(drop=True) 
    arqSorted.to_csv('dados_21_Ajustado/{}.csv'.format(f'arq{i}'),index=False)

/tmp/ipykernel_8977/374007805.py:3: DtypeWarning: Columns (12,14,15,43,44,45,46,47,48,49,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  arq = pd.read_csv(f'dados_21_Atributos/arq{i}.csv')

In [3]:
arq2 = pd.read_csv('dados_21_Ajustado/arq2.csv')
arq3 = pd.read_csv('dados_21_Ajustado/arq3.csv')
arq4 = pd.read_csv('dados_21_Ajustado/arq4.csv')
arq5 = pd.read_csv('dados_21_Ajustado/arq5.csv')
arq6 = pd.read_csv('dados_21_Ajustado/arq6.csv')
arq7 = pd.read_csv('dados_21_Ajustado/arq7.csv')
arq8 = pd.read_csv('dados_21_Ajustado/arq8.csv')
arq10 = pd.read_csv('dados_21_Ajustado/arq10.csv')
arq11 = pd.read_csv('dados_21_Ajustado/arq11.csv')
arq12 = pd.read_csv('dados_21_Ajustado/arq12.csv')
arq13 = pd.read_csv('dados_21_Ajustado/arq13.csv')
arq14 = pd.read_csv('dados_21_Ajustado/arq14.csv')
arq16 = pd.read_csv('dados_21_Ajustado/arq16.csv')
arq17 = pd.read_csv('dados_21_Ajustado/arq17.csv')
arq23 = pd.read_csv('dados_21_Ajustado/arq23.csv')
arq24 = pd.read_csv('dados_21_Ajustado/arq24.csv')
arq28 = pd.read_csv('dados_21_Ajustado/arq28.csv')
arq29 = pd.read_csv('dados_21_Ajustado/arq29.csv')

In [7]:
concat1_all = pd.concat([arq1, arq2, arq3, arq4, arq5, arq6, arq7, arq8, arq10, arq11, arq12, arq13, arq14, arq16, arq17, arq23, arq24, arq28, arq29], axis=1)  # Concatena o arquivo arq1 com os outros

In [10]:
concat1_all

,CO_CURSO,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I17,CO_CURSO,NU_ANO,QE_I18,CO_CURSO,NU_ANO,QE_I22,CO_CURSO,NU_ANO,QE_I23
0,6,2021,1,1,10028,2001,1,5103403,51,5,...,A,6,2021,A,6,2021,B,6,2021,B
1,6,2021,1,1,10028,2001,1,5103403,51,5,...,A,6,2021,A,6,2021,C,6,2021,D
2,6,2021,1,1,10028,2001,1,5103403,51,5,...,A,6,2021,A,6,2021,A,6,2021,B
3,6,2021,1,1,10028,2001,1,5103403,51,5,...,A,6,2021,NaN,6,2021,B,6,2021,NaN
4,6,2021,1,1,10028,2001,1,5103403,51,5,...,A,6,2021,NaN,6,2021,B,6,2021,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489861,5001459,2021,3996,5,10022,72,1,2611606,26,2,...,A,5001459,2021,A,5001459,2021,E,5001459,2021,B
489862,5001459,2021,3996,5,10022,72,1,2611606,26,2,...,B,5001459,2021,A,5001459,2021,C,5001459,2021,B
489863,5001459,2021,3996,5,10022,72,1,2611606,26,2,...,B,5001459,2021,A,5001459,2021,C,5001459,2021,D
489864,5001459,2021,3996,5,10022,72,1,2611606,26,2,...,B,5001459,2021,A,5001459,2021,B,5001459,2021,C
489865,5001487,2021,3948,5,10022,72,1,4209102,42,4,...,NaN,5001487,2021,NaN,5001487,2021,NaN,5001487,2021,NaN

In [8]:
remDuplic = concat1_all.loc[:,~concat1_all.columns.duplicated()]   # Remove as colunas duplicadas da concatenação

In [9]:
remDuplic

,CO_CURSO,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I05,QE_I06,QE_I07,QE_I08,QE_I10,QE_I11,QE_I17,QE_I18,QE_I22,QE_I23
0,6,2021,1,1,10028,2001,1,5103403,51,5,...,NaN,B,C,A,A,NaN,A,A,B,B
1,6,2021,1,1,10028,2001,1,5103403,51,5,...,E,B,F,B,E,A,A,A,C,D
2,6,2021,1,1,10028,2001,1,5103403,51,5,...,NaN,B,NaN,NaN,D,A,A,A,A,B
3,6,2021,1,1,10028,2001,1,5103403,51,5,...,C,NaN,B,A,NaN,A,A,NaN,B,NaN
4,6,2021,1,1,10028,2001,1,5103403,51,5,...,C,NaN,NaN,NaN,A,A,A,NaN,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489861,5001459,2021,3996,5,10022,72,1,2611606,26,2,...,D,B,A,C,E,I,A,A,E,B
489862,5001459,2021,3996,5,10022,72,1,2611606,26,2,...,E,B,C,F,E,B,B,A,C,B
489863,5001459,2021,3996,5,10022,72,1,2611606,26,2,...,D,B,D,A,E,B,B,A,C,D
489864,5001459,2021,3996,5,10022,72,1,2611606,26,2,...,F,B,E,D,E,B,B,A,B,C
489865,5001487,2021,3948,5,10022,72,1,4209102,42,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
selecAtr = remDuplic[["NU_ANO", "TP_PRES", "CO_GRUPO", "CO_UF_CURSO", "CO_REGIAO_CURSO", "CO_CATEGAD", "CO_ORGACAD", "CO_TURNO_GRADUACAO", "NT_GER", "ANO_FIM_EM", "ANO_IN_GRAD", "QE_I17", "QE_I18", "NU_IDADE", "TP_SEXO", "QE_I02", "QE_I01", "QE_I04", "QE_I05", "QE_I08", "QE_I06", "QE_I07", "QE_I11", "QE_I10", "QE_I22", "QE_I23", "QE_I61", "QE_I63", "QE_I28", "QE_I27"]]

In [15]:
selecAtr

,NU_ANO,TP_PRES,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,...,QE_I06,QE_I07,QE_I11,QE_I10,QE_I22,QE_I23,QE_I61,QE_I63,QE_I28,QE_I27
0,2021,222,2001,51,5,1,10028,1.0,NaN,2016.0,...,B,C,NaN,A,B,B,6.0,6.0,6.0,6.0
1,2021,222,2001,51,5,1,10028,1.0,NaN,2006.0,...,B,F,A,E,C,D,5.0,5.0,5.0,5.0
2,2021,222,2001,51,5,1,10028,2.0,NaN,1999.0,...,B,NaN,A,D,A,B,5.0,5.0,6.0,6.0
3,2021,555,2001,51,5,1,10028,2.0,62.8,2009.0,...,NaN,B,A,NaN,B,NaN,6.0,5.0,6.0,6.0
4,2021,555,2001,51,5,1,10028,1.0,48.2,2009.0,...,NaN,NaN,A,A,B,B,5.0,4.0,4.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489861,2021,555,72,26,2,5,10022,4.0,18.9,2003.0,...,B,A,I,E,E,B,6.0,4.0,1.0,2.0
489862,2021,555,72,26,2,5,10022,4.0,20.1,2008.0,...,B,C,B,E,C,B,6.0,6.0,6.0,5.0
489863,2021,555,72,26,2,5,10022,4.0,18.9,2007.0,...,B,D,B,E,C,D,4.0,3.0,3.0,3.0
489864,2021,555,72,26,2,5,10022,4.0,27.1,2016.0,...,B,E,B,E,B,C,5.0,6.0,5.0,3.0
489865,2021,555,72,42,4,5,10022,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
cursosComputacao = selecAtr[selecAtr["CO_GRUPO"].isin([72, 4004, 6409, 4005, 79, 4006])]

In [17]:
cursosComputacao

,NU_ANO,TP_PRES,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,...,QE_I06,QE_I07,QE_I11,QE_I10,QE_I22,QE_I23,QE_I61,QE_I63,QE_I28,QE_I27
215,2021,555,4004,51,5,1,10028,3.0,26.9,2017.0,...,B,B,A,A,E,A,6.0,6.0,5.0,6.0
216,2021,555,4004,51,5,1,10028,3.0,17.2,2015.0,...,D,C,A,D,NaN,C,6.0,5.0,5.0,4.0
217,2021,555,4004,51,5,1,10028,3.0,43.9,2014.0,...,B,A,A,A,A,C,4.0,4.0,4.0,4.0
218,2021,555,4004,51,5,1,10028,3.0,40.7,2014.0,...,B,C,A,A,B,D,NaN,NaN,NaN,NaN
219,2021,555,4004,51,5,1,10028,3.0,21.7,2017.0,...,B,F,A,E,NaN,B,2.0,1.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489861,2021,555,72,26,2,5,10022,4.0,18.9,2003.0,...,B,A,I,E,E,B,6.0,4.0,1.0,2.0
489862,2021,555,72,26,2,5,10022,4.0,20.1,2008.0,...,B,C,B,E,C,B,6.0,6.0,6.0,5.0
489863,2021,555,72,26,2,5,10022,4.0,18.9,2007.0,...,B,D,B,E,C,D,4.0,3.0,3.0,3.0
489864,2021,555,72,26,2,5,10022,4.0,27.1,2016.0,...,B,E,B,E,B,C,5.0,6.0,5.0,3.0
489865,2021,555,72,42,4,5,10022,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
reset1_all = cursosComputacao.reset_index(drop=True)   # Organiza os indexes depois da seleção dos dados

In [20]:
reset1_all

,NU_ANO,TP_PRES,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,...,QE_I06,QE_I07,QE_I11,QE_I10,QE_I22,QE_I23,QE_I61,QE_I63,QE_I28,QE_I27
0,2021,555,4004,51,5,1,10028,3.0,26.9,2017.0,...,B,B,A,A,E,A,6.0,6.0,5.0,6.0
1,2021,555,4004,51,5,1,10028,3.0,17.2,2015.0,...,D,C,A,D,NaN,C,6.0,5.0,5.0,4.0
2,2021,555,4004,51,5,1,10028,3.0,43.9,2014.0,...,B,A,A,A,A,C,4.0,4.0,4.0,4.0
3,2021,555,4004,51,5,1,10028,3.0,40.7,2014.0,...,B,C,A,A,B,D,NaN,NaN,NaN,NaN
4,2021,555,4004,51,5,1,10028,3.0,21.7,2017.0,...,B,F,A,E,NaN,B,2.0,1.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62026,2021,555,72,26,2,5,10022,4.0,18.9,2003.0,...,B,A,I,E,E,B,6.0,4.0,1.0,2.0
62027,2021,555,72,26,2,5,10022,4.0,20.1,2008.0,...,B,C,B,E,C,B,6.0,6.0,6.0,5.0
62028,2021,555,72,26,2,5,10022,4.0,18.9,2007.0,...,B,D,B,E,C,D,4.0,3.0,3.0,3.0
62029,2021,555,72,26,2,5,10022,4.0,27.1,2016.0,...,B,E,B,E,B,C,5.0,6.0,5.0,3.0
62030,2021,555,72,42,4,5,10022,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
dadosValidos = reset1_all[reset1_all["TP_PRES"] == 555]

In [23]:
dadosInvalidos = reset1_all[reset1_all["TP_PRES"] != 555]

In [22]:
dadosValidos

,NU_ANO,TP_PRES,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,...,QE_I06,QE_I07,QE_I11,QE_I10,QE_I22,QE_I23,QE_I61,QE_I63,QE_I28,QE_I27
0,2021,555,4004,51,5,1,10028,3.0,26.9,2017.0,...,B,B,A,A,E,A,6.0,6.0,5.0,6.0
1,2021,555,4004,51,5,1,10028,3.0,17.2,2015.0,...,D,C,A,D,NaN,C,6.0,5.0,5.0,4.0
2,2021,555,4004,51,5,1,10028,3.0,43.9,2014.0,...,B,A,A,A,A,C,4.0,4.0,4.0,4.0
3,2021,555,4004,51,5,1,10028,3.0,40.7,2014.0,...,B,C,A,A,B,D,NaN,NaN,NaN,NaN
4,2021,555,4004,51,5,1,10028,3.0,21.7,2017.0,...,B,F,A,E,NaN,B,2.0,1.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62026,2021,555,72,26,2,5,10022,4.0,18.9,2003.0,...,B,A,I,E,E,B,6.0,4.0,1.0,2.0
62027,2021,555,72,26,2,5,10022,4.0,20.1,2008.0,...,B,C,B,E,C,B,6.0,6.0,6.0,5.0
62028,2021,555,72,26,2,5,10022,4.0,18.9,2007.0,...,B,D,B,E,C,D,4.0,3.0,3.0,3.0
62029,2021,555,72,26,2,5,10022,4.0,27.1,2016.0,...,B,E,B,E,B,C,5.0,6.0,5.0,3.0
62030,2021,555,72,42,4,5,10022,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
dadosInvalidos

,NU_ANO,TP_PRES,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,...,QE_I06,QE_I07,QE_I11,QE_I10,QE_I22,QE_I23,QE_I61,QE_I63,QE_I28,QE_I27
15,2021,222,4004,51,5,1,10028,3.0,NaN,2016.0,...,B,D,A,E,A,D,6.0,6.0,5.0,5.0
19,2021,222,4004,51,5,1,10028,3.0,NaN,2017.0,...,B,A,A,A,B,NaN,6.0,6.0,6.0,6.0
23,2021,222,4004,51,5,1,10028,3.0,NaN,2016.0,...,B,A,A,E,C,B,4.0,5.0,5.0,5.0
26,2021,222,4004,51,5,1,10028,3.0,NaN,2015.0,...,A,D,A,A,C,A,5.0,5.0,4.0,4.0
31,2021,556,4004,51,5,1,10028,3.0,NaN,2016.0,...,D,NaN,A,C,A,B,5.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61958,2021,222,72,33,3,5,10022,4.0,NaN,2009.0,...,NaN,A,B,D,B,NaN,4.0,4.0,4.0,4.0
61989,2021,222,6409,35,3,2,10022,4.0,NaN,2018.0,...,C,A,A,NaN,NaN,A,6.0,5.0,5.0,5.0
61991,2021,222,6409,35,3,2,10022,4.0,NaN,2018.0,...,B,E,A,E,C,C,6.0,6.0,5.0,5.0
61992,2021,222,6409,35,3,2,10022,4.0,NaN,2015.0,...,C,D,A,B,B,E,NaN,NaN,NaN,NaN
62016,2021,334,72,26,2,5,10022,1.0,NaN,2017.0,...,B,B,I,E,D,B,6.0,6.0,5.0,5.0

In [25]:
resetDados = dadosValidos.reset_index(drop=True)

In [28]:
resetDados

,NU_ANO,CO_GRUPO,CO_UF_CURSO,CO_REGIAO_CURSO,CO_CATEGAD,CO_ORGACAD,CO_TURNO_GRADUACAO,NT_GER,ANO_FIM_EM,ANO_IN_GRAD,...,QE_I06,QE_I07,QE_I11,QE_I10,QE_I22,QE_I23,QE_I61,QE_I63,QE_I28,QE_I27
0,2021,4004,51,5,1,10028,3.0,26.9,2017.0,2018.0,...,B,B,A,A,E,A,6.0,6.0,5.0,6.0
1,2021,4004,51,5,1,10028,3.0,17.2,2015.0,2016.0,...,D,C,A,D,NaN,C,6.0,5.0,5.0,4.0
2,2021,4004,51,5,1,10028,3.0,43.9,2014.0,2015.0,...,B,A,A,A,A,C,4.0,4.0,4.0,4.0
3,2021,4004,51,5,1,10028,3.0,40.7,2014.0,2015.0,...,B,C,A,A,B,D,NaN,NaN,NaN,NaN
4,2021,4004,51,5,1,10028,3.0,21.7,2017.0,2018.0,...,B,F,A,E,NaN,B,2.0,1.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42210,2021,72,26,2,5,10022,4.0,18.9,2003.0,2019.0,...,B,A,I,E,E,B,6.0,4.0,1.0,2.0
42211,2021,72,26,2,5,10022,4.0,20.1,2008.0,2020.0,...,B,C,B,E,C,B,6.0,6.0,6.0,5.0
42212,2021,72,26,2,5,10022,4.0,18.9,2007.0,2019.0,...,B,D,B,E,C,D,4.0,3.0,3.0,3.0
42213,2021,72,26,2,5,10022,4.0,27.1,2016.0,2019.0,...,B,E,B,E,B,C,5.0,6.0,5.0,3.0
42214,2021,72,42,4,5,10022,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
resetDados.drop(columns=['TP_PRES'],inplace=True)