In [ ]:
import pandas as pd

In [ ]:
for i in range(43):
    j = i + 1
    origin = f'dados_21/microdados2021_arq{j}.txt'
    destine = f'dados_21csv/arq{j}.csv'
    file = pd.read_csv(origin, sep=';')
    file.to_csv(destine, index = None)

In [ ]:
arq1 = pd.read_csv('dados_21_csv/arq1.csv')
arq2 = pd.read_csv('dados_21_csv/arq2.csv')
arq3 = pd.read_csv('dados_21_csv/arq3.csv')

In [ ]:
arq1.head(8)

In [ ]:
arq2.head(8)

In [ ]:
arq3.head(8)

In [14]:
selectCC = arq1[arq1["CO_GRUPO"].isin([72, 4004, 6409, 4005, 79, 4006])]

In [15]:
selectAtt = selectCC[['NU_ANO','CO_GRUPO', 'CO_UF_CURSO', 'CO_REGIAO_CURSO', 'CO_CATEGAD', 'CO_ORGACAD']]

In [16]:
selectAtt

        NU_ANO  CO_GRUPO  CO_UF_CURSO  CO_REGIAO_CURSO  CO_CATEGAD  CO_ORGACAD
215       2021      4004           51                5           1       10028
216       2021      4004           51                5           1       10028
217       2021      4004           51                5           1       10028
218       2021      4004           51                5           1       10028
219       2021      4004           51                5           1       10028
...        ...       ...          ...              ...         ...         ...
489861    2021        72           26                2           5       10022
489862    2021        72           26                2           5       10022
489863    2021        72           26                2           5       10022
489864    2021        72           26                2           5       10022
489865    2021        72           42                4           5       10022

[62031 rows x 6 columns]

In [ ]:
# result = pd.merge(arq2, arq3, how="outer", on=["NU_ANO", "CO_CURSO"])