In [1]:
import pandas as pd
import numpy as np

In [2]:
uniaoDadosEnade = pd.read_csv('merge.csv')

In [3]:
codigoCursosArray = uniaoDadosEnade["Codigo_do_Curso"].unique()

In [ ]:
codigoCursosArray

In [4]:
len(codigoCursosArray)

2594

In [5]:
codigoCursos = codigoCursosArray.tolist()

In [ ]:
codigoCursos

In [54]:
# Conta o número de linhas de cada Curso

matrizParaConverterEmDf = []
numeroLinhasCursos = []

for codigo in codigoCursos:
    subconjuntoCurso = uniaoDadosEnade.loc[uniaoDadosEnade['Codigo_do_Curso'] == codigo]
    numeroLinhasCursos.append(len(subconjuntoCurso))

matrizParaConverterEmDf.append(numeroLinhasCursos)
dfNumeroLinhasCursos = pd.DataFrame(matrizParaConverterEmDf)
dfNumeroLinhasCursos.columns = codigoCursos

In [55]:
dfNumeroLinhasCursos

,36,127,317,513,594,614,703,778,865,968,...,121415,150211,1002397,1126609,1126612,1126641,1126655,1129605,1133236,1152809
0,120,260,236,187,126,247,101,122,130,311,...,4,2,15,13,3,24,87,6,25,36

In [6]:
transformacaoDadosEnade = []

df_para_contagem_de_valores = pd.DataFrame()

# Fazer usando um data frame para evitar o problema de ordenação dos valores dos atributos e criação de colunas

for codigo in codigoCursos:
    subconjuntoCurso = uniaoDadosEnade.loc[uniaoDadosEnade['Codigo_do_Curso'] == codigo]
    subconjuntoCurso = subconjuntoCurso.reset_index(drop=True)
    
    dadosCurso = []
    
    # Atributos do curso
    
    areaEnquadramento = subconjuntoCurso._get_value(0, 'Curso')
    unidadeFederacaoCurso = subconjuntoCurso._get_value(0, 'UF')
    regiao = subconjuntoCurso._get_value(0, 'Regiao')
    categoriaAdministrativa = subconjuntoCurso._get_value(0, 'Cat_Administrativa')
    categoriaOrganizacaoAcademica = subconjuntoCurso._get_value(0, 'Cat_Org_Academica')
    turno = subconjuntoCurso._get_value(0, 'Turno')
    
    dadosCurso.extend([codigo, areaEnquadramento, unidadeFederacaoCurso, regiao, 
                       categoriaAdministrativa, categoriaOrganizacaoAcademica, turno])
    
    # Atributos dos estudantes
    
    atributosQualitativos = ['Tipo_Escola_EM', 'Modalidade_EM', 'Sexo', 'Cor_Raca', 'Estado_Civil', 'Nl_Pai', 'Nl_Mae', 'Renda', 
                             'Situacao_Financeira', 'Moradia', 'Qtde_Pessoas', 'Politica_de_Ingresso', 'Situacao_Trabalho', 'Bolsa_de_Estudos', 'Qtde_Livros', 
                             'Horas_de_Estudo', 'Disponibilidade_Professores', 'Dominio_Professores', 'Condicao_Salas', 'Condicao_Praticas', 'Plano_de_Ensino',
                             'Formacao']
    
    # Tentar um por um pra debugar
    
    for atributo in atributosQualitativos:
        numero_de_valores_nulos = subconjuntoCurso[atributo].isna().sum()
        dadosCurso.append(numero_de_valores_nulos)
        
        valoresAtributo = subconjuntoCurso[atributo].dropna().unique()
        for valor in valoresAtributo:
            numeroOcorrencias = subconjuntoCurso[atributo].value_counts()[valor]
            dadosCurso.append(numeroOcorrencias)
    
    atributosQuantitativos = ['Nota_Geral', 'Conclusao_Ensino_Medio', 'Anos_Preparacao', 'Anos_Graduacao', 'Idade']
    
    for atributo in atributosQuantitativos:
        mediaValores = subconjuntoCurso[atributo].mean()
        dadosCurso.append(mediaValores)
        
    transformacaoDadosEnade.append(dadosCurso)

dfDadosTransformados = pd.DataFrame(transformacaoDadosEnade)

dfDadosTransformados.columns =['Codigo_do_Curso', 'Curso', 'UF', 'Regiao', 'Cat_Administrativa', 'Cat_Org_Academica', 'Turno',
                              'Nulos_Tipo_Escola_EM', 'Pública', 'Privada', 'Exterior',
                              'Nulos_Modalidade_EM', 'Tradicional', 'Técnico', 'Magistério', 'Supletivo', 'Outra', 
                              'Nulos_Sexo', 'Masculino', 'Feminino',
                              'Nulos_Cor_Raca', 'Branca', 'Preta', 'Amarela', 'Parda', 'Indígena', 'Não declarado',
                              ]

In [ ]:
dfDadosTransformados

In [7]:
dfDadosTransformados.to_csv('./{}.csv'.format('testeTransformacaoDados'),index=False)