In [1]:
import pandas as pd
import numpy as np

In [ ]:
dados_11 = pd.read_csv('computacao_enade_2011.csv')

In [ ]:
dados_21 = pd.read_csv('pre-process_2021.csv')

In [ ]:
dados = pd.read_csv('merge.csv')

In [ ]:
# Nenhuma renda familiar

dados_11_Nenhum_Salario = dados_11[dados_11["QE_I05"] == "A"]
len_Tipo_EM_E = len(dados_11_Nenhum_Salario)

len_Tipo_EM_E

In [24]:
# J = Mais de um dos tipos de bolsa ou financiamento citados.

dados_11_Mais_de_um = dados_11[dados_11["QE_I10"] == "J"]
len_Mais_de_um = len(dados_11_Mais_de_um)

len_Mais_de_um

202

In [21]:
# Repondeu "Não se aplica", "Não" ou apenas não respondeu a questão QE_I10

dados_11_Sem_Bolsa = dados_11[dados_11["QE_I10"].isnull()]
len_Sem_Bolsa = len(dados_11_Sem_Bolsa)

len_Sem_Bolsa

30306

In [25]:
# Repondeu "Não se aplica" ou "Não" em QE_I09

dados_11_Nao_Bolsa = dados_11[(dados_11["QE_I09"] == "B") | (dados_11["QE_I09"] == "C") | (dados_11["QE_I09"].isnull())]
len_Nao_Bolsa = len(dados_11_Nao_Bolsa)

len_Nao_Bolsa

29855

In [3]:
linha = [["Renan", 18, 2002]]

df = pd.DataFrame(linha)

df

       0   1     2
0  Renan  18  2002